<!-- sections/about-us.liquid -->
<link rel="stylesheet" href="{{ 'section-about-us.css' | asset_url }}" media="print" onload="this.media='all'">

<article class="fourth-section fourth-section-{{ section.id }}">
    <div class="background"><svg width="1304" height="585" viewBox="0 0 1304 585" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M104.469 140.371C105.072 140.866 105.756 141.214 106.292 141.843C108.235 144.078 106.895 148.04 104.322 148.91C102.995 149.365 101.696 149.673 100.262 149.379C99.5515 149.231 98.7743 149.486 98.0238 149.486C70.9014 149.486 43.7924 149.486 16.67 149.486"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 98.5686; stroke-dashoffset: 0;"></path>
                <path
                    d="M926.54 321.348C926.578 316.087 928.66 314.724 932.974 317.676C936.191 319.872 939.445 321.121 943.268 321.007C944.025 321.007 944.214 321.537 944.479 322.029"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 23.3218; stroke-dashoffset: 0;"></path>
                <path d="M928.925 298.487C925.14 297.314 921.318 296.405 917.344 297.465" stroke="white"
                    stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 11.7921; stroke-dashoffset: 0;"></path>
                <path d="M967.11 259.617C965.028 260.449 963.25 262.455 960.638 261.32" stroke="white"
                    stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 6.9819; stroke-dashoffset: 0;"></path>
                <path
                    d="M274.668 90.9841C276.169 90.1409 277.884 90.4755 279.465 90.3015C286.326 89.5654 293.227 89.1103 300.129 89.3513C301.938 89.4182 303.733 89.6992 305.516 89.9669C305.824 90.0071 306.467 89.9669 306.427 90.6763C306.4 91.2919 305.918 91.2919 305.516 91.4258C303.572 92.095 301.536 92.2556 299.526 92.2957C294.34 92.4028 289.14 92.376 283.941 92.3091C281.194 92.269 278.353 92.4162 275.726 91.7871C271.572 90.8101 267.391 91.7871 263.264 91.1313C261.75 91.9745 260.088 91.6265 258.467 91.747C253.87 92.1084 249.287 92.0548 244.678 91.7737C241.622 91.5864 238.581 91.4391 235.539 91.1313C230.071 90.5826 224.684 89.6323 219.351 88.3207C214.446 87.1161 209.676 85.4699 204.838 84.0512C196.651 81.6421 188.557 81.7759 180.57 84.5732C173.066 87.2098 165.669 90.1275 158.232 92.9248C152.135 95.2134 146.024 97.4485 139.967 99.8309C137.274 100.888 134.808 102.441 132.476 104.167C132.074 104.475 131.726 104.622 131.257 104.596"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 213.58; stroke-dashoffset: 0;"></path>
                <path
                    d="M174.594 71.2428C174.245 72.7686 172.905 73.5717 171.994 74.6424C168.188 79.126 164.316 83.5427 160.644 88.1468C160.429 88.4145 160.094 88.6152 159.907 88.9097C159.558 89.4584 158.955 89.512 158.567 89.3112C157.964 88.99 157.937 88.2806 158.259 87.7185C159.17 86.0991 160.041 84.4528 161.113 82.9404C163.887 79.0189 166.929 75.2982 171.002 72.6214C172.074 71.912 173.173 71.2027 174.567 71.0287C175.237 70.9484 175.907 70.413 176.43 69.6502C177.729 67.7764 179.351 66.1034 180.865 64.3769C184.604 60.0806 188.342 55.7844 192.108 51.5015C196.892 46.0542 201.689 40.6203 206.487 35.1864C211.324 29.699 216.175 24.2116 221.013 18.7242C223.465 15.9403 225.931 13.1564 228.343 10.3324C229.455 9.03416 230.353 7.62885 230.621 5.84878C230.902 3.94826 230.433 2.44925 228.798 1.35177C227.19 0.281049 225.529 0.602264 224.028 1.39192C222.152 2.36895 220.771 4.00179 219.378 5.55433C213.495 12.1526 207.652 18.7911 201.837 25.4429C193.971 34.4503 186.158 43.4979 178.306 52.5187C174.821 56.5205 171.311 60.4955 167.826 64.4973C167.197 65.2201 166.245 65.6216 165.87 66.5852C165.455 67.6693 164.811 68.6196 164.557 69.8509C164.262 71.2161 163.056 72.434 162.118 73.5984C160.898 75.1242 159.625 76.6366 157.79 77.5065"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 248.221; stroke-dashoffset: 0;"></path>
                <path
                    d="M166.419 65.6215C165.361 63.1455 163.123 62.9179 160.952 63.0518C158.393 63.2258 155.847 63.721 153.314 64.2162C149.589 64.9389 145.823 65.2334 142.071 65.7018C136.014 66.4513 129.944 67.2008 124.101 69.021C118.58 70.7342 115.297 74.6021 114.064 80.2234C113.193 84.2118 112.885 88.2806 112.563 92.3493C112.362 94.9324 111.786 97.4486 111.237 99.9915C110.54 103.19 110.057 106.416 110.165 109.708C110.191 110.725 110.459 111.622 110.875 112.572C111.96 115.022 112.322 117.672 112.376 120.335C112.376 120.536 112.215 120.857 112.282 121.085C113.032 123.748 111.25 125.796 110.607 128.125C110.044 130.119 108.731 131.778 107.927 133.666"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 114.786; stroke-dashoffset: 0;"></path>
                <path
                    d="M176.537 70.1855C179.123 70.3328 181.2 71.8585 183.411 72.9025C189.656 75.8604 196.168 78.0553 202.761 80.0361C210.051 82.2311 217.475 83.9577 224.939 85.4031C232.524 86.862 240.162 88.1602 247.854 89.0569C252.303 89.5789 256.725 90.2615 261.187 90.5693C261.549 90.5961 262.098 90.556 262.393 90.9842"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 88.8818; stroke-dashoffset: 0;"></path>
                <path
                    d="M194.212 133.344C194.319 132.849 193.89 132.729 193.609 132.608C185.167 129.008 177.582 123.989 170.44 118.328C168.202 116.548 165.95 116.762 163.672 117.377C159.424 118.528 155.364 120.242 151.666 122.704C147.686 125.368 143.599 127.884 139.726 130.694C138.399 131.658 136.965 132.394 135.612 133.291C134.259 134.188 132.677 134.736 131.297 135.593C128.939 137.052 122.895 137.962 120.188 137.253C119.572 137.092 119.17 136.838 118.835 136.329C118.191 135.352 117.816 135.365 117.039 136.329C116.155 137.427 115.123 138.444 114.386 139.648C113.89 140.465 113.314 140.572 112.55 140.518"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 94.7348; stroke-dashoffset: 0;"></path>
                <path
                    d="M150.915 127.496C152.684 127.268 153.984 126.264 155.109 124.953C155.686 124.284 156.302 123.655 156.905 122.999C159.009 120.683 161.032 120.563 163.632 122.289C165.883 123.775 168.001 125.475 170.399 126.746C174.902 129.115 179.699 130.668 184.631 131.832C187.364 132.475 190.098 133.345 192.872 133.519C194.587 133.626 196.262 133.853 197.964 134.067C198.232 134.107 198.473 134.148 198.634 134.375"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 52.8323; stroke-dashoffset: 0;"></path>
                <path
                    d="M116.61 135.432C114.935 134.496 113.26 133.545 112.416 131.685C111.652 129.999 111.732 128.339 112.724 126.746C113.139 126.077 113.595 125.435 114.064 124.806C117.186 120.576 120.871 116.815 124.074 112.666C125.843 110.391 127.826 108.33 129.783 106.242C131.364 104.556 132.49 102.535 134.084 100.808C137.019 97.6495 139.94 94.4775 142.795 91.2519C143.143 90.8638 143.679 90.5694 143.88 90.5961C145.327 90.7433 146.185 89.7663 147.19 89.0436C149.937 87.0628 152.483 84.8678 154.533 82.1508C154.828 81.7493 155.163 81.3746 155.418 80.9463C155.646 80.5715 155.686 80.0629 155.391 79.7953C155.257 79.6614 154.734 79.6748 154.372 79.8889C153.314 80.518 152.403 81.321 151.545 82.1642C149.2 84.4663 146.935 86.8352 144.644 89.1908C144.322 89.512 143.947 89.8466 144.041 90.382"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 91.3289; stroke-dashoffset: 0;"></path>
                <path
                    d="M198.862 134.389C202.587 136.61 208.497 136.61 210.306 134.322C209.529 132.809 207.987 132.93 206.647 132.769C204.959 132.555 203.324 133.117 201.716 133.519C200.765 133.759 199.693 133.331 198.862 134.094"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 24.3746; stroke-dashoffset: 0;"></path>
                <path
                    d="M140.731 86.9422C143.853 84.7473 145.689 81.776 146.118 77.9616C146.185 77.3995 146.118 76.8775 145.649 76.4492C144.295 76.6098 143.773 77.8545 143.17 78.7513C141.468 81.2942 140.007 83.971 140.557 87.2501C140.825 88.816 141.723 89.9536 142.821 90.9842"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 29.5716; stroke-dashoffset: 0;"></path>
                <path
                    d="M149.12 126.224C150.54 126.679 151.063 127.803 151.21 129.142C151.411 131.096 152.255 132.635 153.582 134.107C156.557 137.413 157.615 141.281 155.967 145.577C155.806 146.006 155.766 146.38 155.713 146.795"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 23.0793; stroke-dashoffset: 0;"></path>
                <path
                    d="M126.191 109.842C125.213 108.504 126.419 107.353 126.54 106.108C126.687 104.355 127.357 102.588 126.768 100.875C125.669 97.7164 123.927 94.9058 121.394 92.6439C121.032 92.3226 120.443 91.8944 119.933 92.3494C119.518 92.7108 119.612 93.4469 119.799 93.8083C121.059 96.2441 122.774 98.2919 125.307 99.4964C125.468 99.5768 125.749 99.6035 125.897 99.3626"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 31.1095; stroke-dashoffset: 0;"></path>
                <path
                    d="M138.48 132.287C139.913 135.258 139.659 138.163 138.359 141.134C137.314 143.503 135.344 144.025 133.093 144.279C131.739 144.44 130.439 145.002 129.032 144.279C126.419 142.941 124.476 140.96 123.016 138.444C122.841 138.136 123.096 138.029 123.042 137.828"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 28.9323; stroke-dashoffset: 0;"></path>
                <path
                    d="M159.156 135.432C159.398 136.864 160.376 137.815 161.22 138.899C162.989 141.161 163.699 143.878 164.074 146.662C164.383 149.004 163.257 150.931 162.011 152.805C161.501 153.568 160.724 153.902 160.242 153.22C158.768 151.118 156.007 150.061 155.498 147.157C155.632 146.996 156.007 146.568 156.275 146.836C157.468 148.04 158.728 149.245 158.701 151.145"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 35.1808; stroke-dashoffset: 0;"></path>
                <path
                    d="M137.877 143.664C139.766 145.939 142.379 147.277 144.791 148.87C146.292 149.86 148.101 150.302 149.87 150.704C151.009 150.958 151.8 150.356 152.563 149.66"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 17.147; stroke-dashoffset: 0;"></path>
                <path
                    d="M110.017 112.385C108.905 114.058 109.253 115.959 109.307 117.766C109.347 119.653 110.057 121.419 110.794 123.146C110.969 123.561 111.277 124.043 111.813 124.203"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 12.671; stroke-dashoffset: 0;"></path>
                <path
                    d="M131.431 89.338C130.949 86.1928 129.166 83.8238 127.103 81.6021C126.111 82.2445 126.553 83.0207 126.66 83.6498C126.875 84.8945 127.424 86.0723 128.161 87.0761C128.939 88.1468 129.595 89.4986 131.27 89.5254C131.471 89.5254 131.793 89.967 131.846 90.2481C132.637 93.8885 130.265 98.2785 126.62 99.9649"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 32.0362; stroke-dashoffset: 0;"></path>
                <path
                    d="M164.543 68.8472C163.592 68.9542 163.163 69.7707 162.614 70.3596C161.26 71.805 160.068 73.3977 158.674 74.8164C157.696 75.8202 157.669 77.172 157.053 78.2829"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 12.329; stroke-dashoffset: 0;"></path>
                <path
                    d="M130.841 136.476C131.766 136.637 131.632 137.36 131.565 137.975C131.511 138.484 131.391 139.046 131.123 139.461C129.903 141.375 130.238 142.941 132.034 144.266"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 9.02279; stroke-dashoffset: 0;"></path>
                <path
                    d="M140.275 87.6917C138.627 88.6018 137.059 89.6725 135.183 90.0874C134.138 90.3283 133.079 90.1811 132.034 90.2346"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 8.81007; stroke-dashoffset: 0;"></path>
                <path
                    d="M122.292 117.471C122.855 118.355 123.592 118.85 124.691 118.984C126.687 119.224 129.046 122.972 128.778 124.953C128.47 127.201 127.585 129.249 126.928 131.377C126.406 133.09 123.444 135.098 121.555 135.111C120.577 135.111 119.652 135.245 118.861 135.874"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 27.0563; stroke-dashoffset: 0;"></path>
                <path
                    d="M107.619 133.933C106.868 133.13 106.278 133.973 105.85 134.268C104.335 135.299 103.625 137.775 104.188 139.608C104.322 140.05 104.335 140.371 104.054 140.826C102.982 142.633 102.031 144.493 101.026 146.354C100.744 146.862 100.436 147.371 100.57 148"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 17.3467; stroke-dashoffset: 0;"></path>
                <path
                    d="M124.101 119.117C124.128 120.121 125.012 120.616 125.468 121.352C126.352 122.784 127.344 124.163 128.295 125.555"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 7.74172; stroke-dashoffset: 0;"></path>
                <path
                    d="M173.535 130.949C173.79 132.555 173.227 134.134 173.374 135.74C173.441 136.556 172.731 136.864 172.182 137.239C169.394 139.14 165.535 137.868 164.128 134.08C163.713 132.97 163.069 131.765 163.753 130.467C165.334 131.738 166.687 135.298 166.192 136.784"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 27.674; stroke-dashoffset: 0;"></path>
                <path
                    d="M126.794 130.494C124.945 131.845 123.096 133.184 121.26 134.549C121.14 134.629 121.153 134.884 121.099 135.058"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 7.40534; stroke-dashoffset: 0;"></path>
                <path
                    d="M106.868 144.708C105.139 145.283 103.746 146.474 102.258 147.465C101.495 147.973 100.168 147.759 99.9669 149.057"
                    stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 8.36246; stroke-dashoffset: 0;"></path>
                <path d="M112.255 140.666C110.701 141.79 109.32 143.168 107.458 143.811" stroke="white"
                    stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 5.76334; stroke-dashoffset: 0;"></path>
                <path d="M166.647 137.681C165.924 139.648 164.249 139.97 162.453 140.077" stroke="white"
                    stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 5.17844; stroke-dashoffset: 0;"></path>
                <path d="M115.699 122.115C114.681 122.196 113.957 123.199 112.858 123.012" stroke="white"
                    stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 3.02914; stroke-dashoffset: 0;"></path>
                <path d="M155.257 147.25C154.372 147.96 153.903 149.097 152.858 149.646" stroke="white"
                    stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 3.41096; stroke-dashoffset: 0;"></path>
                <path variants="[object Object]"
                    d="M364.289 509.589C364.289 509.589 144.257 581.248 6.67497 456.536C-41.0572 413.266 248.191 483.528 374.546 456.536C500.9 429.544 524.678 334.782 493.439 235.482C462.201 136.181 283.713 144.479 282.547 144.413C279.773 144.239 276.986 144.145 274.239 143.77C266.976 142.766 259.726 141.455 252.557 139.849C247.358 138.684 241.931 138.979 236.906 140.759C231.88 142.539 226.627 144.479 221.2 145.497C217.22 146.246 213.24 146.875 209.207 147.089C203.833 147.37 198.607 146.487 193.461 145.109C188.945 143.904 184.657 141.99 180.503 139.862C178.172 138.671 175.639 137.841 173.562 136.181"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 1412.64; stroke-dashoffset: 0;"></path>
                <path
                    d="M969.494 393.941C966.353 392.616 963.59 394.32 961.017 395.417C949.512 400.186 937.932 404.804 925.859 407.907C917.95 409.951 909.813 411.011 901.677 411.73C896.076 412.222 890.55 413.13 884.95 413.698C879.424 414.266 873.975 414.985 868.563 416.385C860.691 418.467 860.578 421.268 859.707 427.021C859.405 429.064 859.102 431.07 858.913 433.152C858.686 435.537 856.907 437.467 854.56 437.467C851.646 437.467 848.884 438.148 846.046 438.337C839.082 438.829 832.043 439.132 825.269 441.025C821.901 441.971 818.722 443.371 816.035 445.756C813.386 448.064 813.159 451.017 815.732 453.25C819.327 456.391 823.831 457.299 828.334 458.019C838.666 459.608 849.035 458.548 859.367 457.943C868.449 457.413 877.532 456.732 886.652 456.656C888.885 456.656 890.967 456.959 893.048 458.435C891.042 461.879 887.447 462.901 884.23 464.074C871.818 468.578 859.026 471.985 846.046 474.256C837.947 475.694 829.735 476.489 821.522 477.246C800.519 479.1 779.477 478.532 758.436 478.343C748.331 478.267 738.189 478.267 728.085 477.624C721.803 477.246 715.558 477.51 709.314 477.094C695.236 476.148 612.011 483.074 573.422 464.074C534.832 445.074 522.202 414.425 543.621 407.907C630.093 381.593 441.182 487.687 363.886 510.036"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 916.689; stroke-dashoffset: 0;"></path>
                <path
                    d="M937.44 244.288C936.229 242.32 934.45 240.958 932.823 239.368C927.789 234.561 923.361 229.073 918.707 223.812C917.874 222.866 918.82 221.314 917.685 220.406C916.095 219.157 914.809 217.87 912.652 217.113C909.775 216.091 907.543 213.29 905.045 211.209C891.307 199.854 875.791 191.565 858.95 186.153C844.153 181.384 828.713 180.287 813.348 183.352C803.849 185.245 794.842 188.689 787.462 195.237C779.931 201.898 776.752 210.603 776.601 220.444C776.525 226.235 775.239 231.458 772.211 236.529C765.74 247.24 762.561 259.011 763.658 271.577C764.415 280.131 767.291 288.117 771.795 295.422C782.467 312.832 798.362 323.165 817.473 329.22C827.615 332.437 837.947 334.292 848.505 335.39C854.296 335.995 860.124 336.26 865.876 336.828C871.25 337.358 876.624 336.828 881.922 337.396C889.529 338.228 897.287 337.925 904.78 340.083C905.461 340.272 906.18 340.461 906.824 340.764C907.694 341.218 908.791 341.37 908.905 342.77C909.056 344.435 907.656 344.7 906.786 345.117C901.904 347.312 896.681 348.561 891.459 349.583C884.609 350.945 877.646 351.248 870.682 350.945C860.956 350.567 851.533 348.485 842.375 345.192C831.513 341.294 821.257 336.071 810.699 331.529C803.66 328.501 796.734 325.17 789.203 323.392C783.905 322.143 778.493 321.764 773.195 323.089C768.048 324.376 764.869 330.015 765.286 335.654C765.929 344.246 769.449 351.664 773.838 358.856C778.683 366.804 783.224 374.79 785.646 384.025C787.652 391.67 787.008 398.407 782.732 404.841C778.607 411.086 775.277 417.672 773.536 424.977C769.789 440.646 775.504 450.373 791.663 455.104C794.085 455.823 797.378 457.602 800.178 454.953C799.573 452.076 796.924 451.282 794.993 449.881C791.133 447.005 787.425 444.015 784.813 439.965C778.493 430.2 779.25 421.987 786.819 412.676C788.749 410.292 790.301 407.529 792.344 405.22C794.501 402.76 794.464 400.337 793.745 397.31C792.496 391.897 791.285 389.437 798.74 385.047C800.594 383.949 802.524 383.116 804.53 382.322C813.234 378.877 822.355 377.326 831.475 375.509C839.309 373.957 847.105 371.951 855.015 370.854C863.038 369.718 870.909 367.939 878.857 366.577C885.933 365.366 893.01 364.117 900.049 362.678C906.18 361.429 912.538 361.505 918.782 360.786C925.746 359.991 932.671 360.748 939.597 361.164C940.997 361.24 942.435 361.278 943.684 360.483"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 971.172; stroke-dashoffset: 0;"></path>
                <path
                    d="M888.696 469.941C884.647 471.076 883.095 474.672 881.241 477.813C878.63 482.166 878.857 486.443 882.225 490.417C883.322 491.704 884.344 493.066 885.631 494.164C896.568 503.285 909.775 506.237 923.475 507.032C932.785 507.562 942.132 507.486 951.442 505.859C958.216 504.686 964.915 503.512 971.575 501.733C985.767 497.986 999.883 493.899 1014.53 492.158C1023.84 491.06 1032.77 488.978 1041.13 484.626C1044.96 482.658 1048.06 479.743 1051.35 477.094C1059.03 470.887 1068.34 469.751 1077.62 469.032C1086.92 468.313 1096.27 469.07 1105.54 469.676C1117.62 470.433 1129.61 471.871 1141.69 472.249C1151.9 472.552 1162.12 473.006 1172.38 473.006C1182.37 473.006 1294.31 481.522 1302.6 291.031"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 577.143; stroke-dashoffset: 0;"></path>
                <path
                    d="M1150.2 112.008C1152.02 110.38 1153.95 111.857 1155.27 112.462C1173.29 120.486 1188.69 131.878 1199.21 148.872C1202.54 154.285 1205.83 160.151 1207.23 166.245C1209.46 175.82 1214.27 184.639 1215.22 194.48C1215.6 198.416 1217.34 201.898 1217.18 206.061C1216.84 215.41 1214.88 224.38 1211.47 232.934C1206.21 246.181 1199.32 258.595 1190.39 269.76C1185.28 276.119 1179.95 282.288 1174.72 288.533C1173.89 289.517 1173.1 290.539 1172.34 291.599C1169.5 295.649 1169.8 299.85 1173.36 303.521C1178.09 308.328 1183.88 311.81 1189.03 316.125C1194.93 321.045 1198.64 327.063 1199.32 334.898C1199.47 336.714 1199.74 338.531 1199.97 340.348C1200.46 344.284 1202.96 346.517 1206.74 347.539C1223.92 352.156 1232.74 364.079 1236.11 380.921C1238.38 392.276 1237.96 403.517 1235.35 414.682C1233.57 422.29 1229.37 428.648 1223.81 434.136C1209.2 448.556 1192.09 458.246 1172 462.863C1160.8 465.437 1149.52 466.232 1138.24 465.323C1124.81 464.264 1111.98 460.025 1100.81 452.417C1090.44 445.339 1084.54 434.666 1080.6 422.895C1076.18 409.648 1073 396.136 1071.07 382.322C1070.58 378.764 1069.82 375.244 1069.02 371.762C1068.68 370.21 1068.31 368.545 1066.56 367.599C1063.8 370.248 1064.07 373.919 1063.69 377.212C1062.74 385.236 1061.95 393.336 1061.64 401.397C1061.42 407.567 1060.96 413.698 1060.13 419.792C1057.82 437.353 1053.05 453.855 1040.45 467.254C1035.42 472.628 1029.93 477.208 1023.35 480.501C1019.98 482.166 1016.35 482.052 1012.79 481.825C1009.99 481.636 1008.47 478.495 1009.38 475.391C1011.12 469.562 1014.3 464.415 1017.59 459.381C1025.09 447.989 1032.35 436.483 1037.61 423.879C1042.27 412.714 1045.71 401.094 1045.14 388.794C1044.5 375.13 1039.35 363.284 1029.86 353.33C1029.06 352.497 1029.02 352.535 1026.6 351.891C1025.43 355.298 1027.09 358.401 1027.89 361.467C1029.7 368.431 1031.33 375.509 1031.44 382.624C1031.63 393.676 1028.19 403.782 1021.34 412.638C1015.21 420.549 1007.34 426.604 999.883 433.114C990.951 440.873 981.301 447.875 973.959 457.299C970.099 462.295 967.223 467.594 967.374 474.331C967.526 481.485 973.959 484.891 979.712 483.718C981.301 483.377 982.474 483.415 983.837 483.907"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 1079.87; stroke-dashoffset: 0;"></path>
                <path
                    d="M1063.92 267.451C1061.42 265.937 1058.92 267.414 1056.42 267.451C1054.98 267.451 1053.36 268.095 1052.26 266.165C1054.83 262.72 1058.88 261.093 1062.55 258.936C1082.46 247.316 1101.23 234.258 1116.75 216.962C1127.68 204.774 1136.46 191.3 1140.93 175.366C1145.89 157.767 1145.58 140.318 1137.75 123.627C1134.87 117.496 1130.11 112.424 1123.94 108.829C1117.81 105.271 1111.9 105.952 1105.85 108.564C1104.03 109.358 1102.25 110.229 1100.44 111.099C1098.01 109.434 1096.54 107.05 1094.91 104.817C1088.17 95.5815 1079.85 88.5039 1068.34 86.0816C1061 84.5298 1053.85 85.6274 1046.89 88.1254C1034.13 92.7051 1024.67 101.297 1017.22 112.348C1007.11 127.336 1001.28 144.103 996.666 161.4C993.487 173.36 991.216 185.509 988.681 197.583C987.129 205.077 985.767 212.647 983.799 220.065C983.383 221.693 982.777 223.131 981.226 224.266C978.993 222.185 980.166 219.46 980.507 217.34C981.642 209.808 983.345 202.314 984.821 194.82C987.243 182.141 990.27 169.575 991.444 156.669C992.011 150.386 992.314 144.103 991.86 137.934C990.952 126.201 985.199 117.193 974.981 110.948C966.466 105.725 957.346 101.864 947.62 100.275C937.667 98.6473 927.449 98.0795 917.95 103.416C914.014 105.649 911.176 108.715 908.791 112.348C903.039 121.091 897.968 130.289 891.08 138.275C885.593 144.633 879.197 150.045 873.331 155.988C869.66 159.697 865.535 163.028 862.167 166.964C856.945 173.057 856.112 177.788 864.816 182.595C873.445 187.364 882.3 191.792 890.664 197.015C898.233 201.709 905.499 206.97 911.857 213.29C912.917 214.35 914.241 215.258 913.9 217.037"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 808.482; stroke-dashoffset: 0;"></path>
                <path
                    d="M1097.67 345.192C1099.38 341.937 1102.9 340.877 1105.54 338.758C1115.16 331.113 1122.76 321.764 1129.69 311.772C1140.17 296.67 1149.48 280.85 1158.34 264.764C1164.2 254.129 1171.39 244.477 1179.45 235.432C1181.61 233.047 1183.81 230.663 1185.93 228.278C1191.64 221.806 1191.94 214.426 1188.92 206.818C1186.83 201.595 1183.47 197.053 1179.08 193.533C1173.17 188.802 1166.74 189.559 1160.38 192.511C1150.81 196.94 1143.39 204.131 1136.5 211.928C1129.12 220.254 1124.5 230.322 1119.17 239.898C1113.42 250.268 1105.92 259.314 1098.96 268.814C1097.14 271.274 1095.17 273.659 1093.17 275.967C1092.07 277.216 1090.78 278.427 1089.42 279.374C1085.11 282.364 1082.46 281.228 1081.25 276.005C1081.1 275.4 1080.79 274.87 1080.57 274.302"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 333.982; stroke-dashoffset: 0;"></path>
                <path
                    d="M1066.34 267.111C1065.88 267.111 1065.24 266.922 1065.01 267.111C1059.22 272.221 1051.65 273.659 1044.88 276.611C1031.18 282.553 1016.84 286.603 1002.61 290.955C998.52 292.204 994.963 294.475 991.746 297.125C988.757 299.585 988.189 303.862 991.368 306.965C999.504 314.914 1009.12 319.796 1020.36 321.651C1034.55 323.997 1047.26 320.402 1058.47 311.961C1066.91 305.641 1071.6 296.519 1074.59 286.489C1075.53 283.348 1077.2 280.434 1077.84 277.254C1078.26 275.211 1080.11 274.794 1080.72 273.205"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 211.256; stroke-dashoffset: 0;"></path>
                <path
                    d="M968.813 394.282C968.358 396.552 966.693 398.029 965.028 399.353C955.075 407.491 945.046 415.515 935.055 423.576C927.07 430.011 918.82 436.142 911.214 443.03C909.775 444.317 908.224 445.604 908.072 447.913C909.246 448.594 910.192 448.367 911.554 447.875C921.923 444.279 930.665 437.997 939.483 431.752C949.361 424.712 958.216 416.461 966.353 407.491C976.949 395.833 986.183 383.192 992.011 368.355C992.768 366.463 994.358 364.419 992.919 362.64C991.444 360.824 989.173 362.035 987.205 362.527C981.755 363.927 976.381 365.82 970.818 366.463C965.407 367.106 959.503 367.75 954.583 365.063C951.631 363.435 948.755 362.337 945.614 361.505C945.008 361.353 944.214 360.748 943.987 360.445C940.619 356.13 936.872 352.005 934.336 346.706C937.137 345.571 937.969 342.921 939.824 341.104"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 283.23; stroke-dashoffset: 0;"></path>
                <path
                    d="M1215.29 198.946C1214.23 199.741 1214.27 200.838 1214.27 202.012C1214.35 211.625 1211.74 220.633 1207.76 229.262C1204.17 237.097 1200.08 244.667 1195.2 251.782C1194.78 252.388 1194.48 252.918 1193.61 253.258C1191.6 251.404 1192.47 249.133 1192.78 246.975C1193.34 242.888 1193.95 238.8 1194.44 234.713C1194.55 233.766 1194.71 232.744 1193.65 231.874C1190.39 233.653 1189.52 237.097 1188.39 240.201C1185.28 248.603 1182.78 257.195 1179.15 265.408C1172.68 279.979 1164.54 293.529 1154.59 305.981C1145.09 317.904 1134.42 328.539 1121.17 336.298C1114.89 340.007 1108.46 343.981 1101.38 345.268C1094 346.593 1087.15 349.658 1079.62 350.377C1072.35 351.097 1065.05 351.626 1057.78 351.21C1047.6 350.642 1037.58 348.674 1027.77 345.836C1023.57 344.587 1019.37 343.338 1015.17 342.089"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 321.549; stroke-dashoffset: 0;"></path>
                <path
                    d="M900.276 458.548C896.038 461.16 892.518 464.68 889.869 468.73C888.128 471.379 889.075 475.012 890.778 477.813C893.729 482.658 898.498 485.459 903.342 488.07C910.078 491.666 917.42 493.331 924.8 494.921C931.99 496.472 939.37 496.813 946.636 496.775C957.535 496.737 968.131 494.504 977.668 488.751C984.064 484.891 990.157 480.425 997.082 477.51C998.104 477.094 999.126 476.602 1000.15 476.148"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 143.553; stroke-dashoffset: 0;"></path>
                <path
                    d="M1150.88 113.408C1153.04 115.566 1156.03 116.36 1158.37 118.177C1162.69 121.47 1166.36 125.293 1168.97 130.099C1173.85 139.183 1181.08 146.109 1189.45 151.9C1195.35 155.988 1200.16 160.984 1204.09 166.926C1204.85 168.099 1205.49 169.462 1207.16 169.651"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 80.5716; stroke-dashoffset: 0;"></path>
                <path
                    d="M944.933 322.029C949.058 324.414 953.675 324.906 958.216 325.776C968.699 327.82 979.447 327.706 989.93 329.902C992.087 330.356 995.228 330.431 994.017 334.292"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 53.204; stroke-dashoffset: 0;"></path>
                <path
                    d="M949.398 246.673C947.355 248.565 948.225 251.101 948.49 253.145C949.966 264.688 953.978 275.4 959.654 285.543C961.622 289.025 963.666 292.28 964.612 296.405C966.05 302.575 972.067 305.262 976.76 308.593C980.355 311.166 984.594 312.945 988.946 314.232C991.103 314.876 993.676 314.232 995.455 316.238"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 91.49; stroke-dashoffset: 0;"></path>
                <path
                    d="M949.739 344.852C951.82 344.549 953.259 345.722 954.091 347.274C955.189 349.318 956.702 349.999 958.897 350.415C963.06 351.172 967.072 351.21 971.197 350.415C972.597 350.15 974.3 350.188 975.587 350.756C980.961 353.065 985.956 351.551 990.952 349.658C994.547 348.296 998.028 346.668 1000.87 343.905C1004.16 340.688 1003.52 338.455 999.164 336.676C995.455 335.162 991.898 334.935 987.886 335.579C979.031 337.055 970.099 335.768 961.319 334.557C955.643 333.762 949.89 334.178 944.214 333.119C942.284 332.74 940.202 334.443 937.742 333.724C932.179 332.097 926.389 331.34 920.864 328.842C919.388 332.437 918.177 335.995 918.934 340.121C920.296 347.539 924.686 350.453 931.952 348.296C932.747 348.069 933.542 347.842 934.336 347.615"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 177.069; stroke-dashoffset: 0;"></path>
                <path
                    d="M990.649 247.695C992.73 244.97 992.314 242.547 990.384 239.822C988 236.454 985.01 233.956 981.415 232.063C980.128 231.382 978.501 231.155 977.365 232.404C976.23 233.653 977.252 234.788 978.009 235.772C980.734 239.368 983.761 242.699 987.205 245.651"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 42.3128; stroke-dashoffset: 0;"></path>
                <path
                    d="M960.79 266.089C958.973 269.874 960.979 273.204 962.001 276.649C964.347 284.597 968.926 291.258 974.3 297.427C975.095 298.336 975.852 299.547 977.365 299.509"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 39.1589; stroke-dashoffset: 0;"></path>
                <path
                    d="M1009.38 247.354C1008.44 253.75 1007.94 260.185 1006.39 266.468C1005.56 269.874 1004.99 273.507 1003.71 276.573C1001.62 281.645 998.71 286.603 993.374 289.252C993.109 289.404 992.692 289.252 992.314 289.252C990.762 286.83 990.384 284.786 991.822 281.645C994.585 275.513 996.477 268.89 995.19 261.964C995.001 260.828 995.417 259.92 995.493 258.898C995.758 253.561 992.655 250.193 988.946 247.127"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 93.1121; stroke-dashoffset: 0;"></path>
                <path
                    d="M975.965 253.145C976.419 256.362 978.501 258.936 979.447 261.963C981.415 268.133 983.875 274.113 985.464 280.396C985.54 280.698 985.275 281.077 985.161 281.418"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 29.9929; stroke-dashoffset: 0;"></path>
                <path
                    d="M940.505 272.258C948.339 278.201 953.788 286.489 960.6 293.416C961.546 294.4 962.152 295.649 963.704 295.762"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 33.2463; stroke-dashoffset: 0;"></path>
                <path
                    d="M949.739 334.633C949.815 336.903 951.707 337.698 953.183 338.682C958.405 342.24 963.552 345.949 969.532 348.258C970.364 348.599 971.197 349.053 971.575 349.961"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 27.3191; stroke-dashoffset: 0;"></path>
                <path
                    d="M1026.79 249.398C1027.21 252.804 1025.69 256.135 1026.68 259.655C1027.24 261.698 1024.94 263.25 1023.99 265.029C1021.08 270.744 1017.37 275.892 1012.79 280.396C1011.73 281.417 1010.67 282.629 1009.04 282.061C1007.19 281.455 1007.83 279.714 1007.64 278.352C1007.57 277.86 1007.22 277.443 1007 276.989"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 45.8554; stroke-dashoffset: 0;"></path>
                <path
                    d="M990.308 253.485C988.265 256.135 989.324 259.2 989.4 262.001C989.476 266.316 990.195 270.631 990.724 274.945C990.762 275.324 991.368 275.627 991.708 275.967"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 23.2684; stroke-dashoffset: 0;"></path>
                <path
                    d="M963.363 254.507C961.925 255.946 961.433 257.876 960.676 259.617C959.427 262.493 960.26 264.575 962.606 266.846C966.353 270.479 968.623 275.324 970.894 280.017C971.916 282.137 972.597 284.597 974.981 285.808"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 36.8053; stroke-dashoffset: 0;"></path>
                <path
                    d="M1017.22 245.31C1017.93 250.495 1014.64 254.621 1013.47 259.276C1012.75 262.115 1011.35 264.613 1011.16 267.792C1010.97 270.706 1008.55 273.507 1006.96 276.308C1006.43 277.254 1005.29 277.368 1004.27 277.33"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 36.1024; stroke-dashoffset: 0;"></path>
                <path
                    d="M992.011 314.156C991.557 313.097 991.065 312.15 990.005 311.356C986.486 308.668 983.08 305.792 979.75 302.878C978.274 301.553 976.949 300.19 978.274 297.73C979.031 296.292 977.744 294.4 977.176 293.075C975.019 287.852 975.284 282.402 974.981 276.989C974.754 272.675 973.581 268.814 970.894 265.37C968.926 262.872 967.034 260.336 967.072 256.854C967.072 255.529 966.58 254.167 965.066 253.826C964.196 253.637 964.082 252.956 963.704 252.426C962.833 251.328 962.266 250.079 961.395 248.944C957.043 243.418 957.8 243.418 950.08 245.575"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 89.7756; stroke-dashoffset: 0;"></path>
                <path
                    d="M918.707 221.466C920.031 221.239 920.977 221.882 921.772 222.828C925.632 227.257 929.492 231.685 933.352 236.113C934.299 237.211 934.753 238.422 934.034 239.86"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 25.2356; stroke-dashoffset: 0;"></path>
                <path
                    d="M998.483 257.914C999.959 259.692 1000.26 261.85 1000.19 264.045C1000.03 267.565 1000.79 271.085 1000.22 274.605C1000.03 275.816 999.996 277.141 1001.21 278.011"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 20.8595; stroke-dashoffset: 0;"></path>
                <path
                    d="M934.715 283.159C933.769 285.543 931.612 286.868 929.909 288.571C928.471 290.047 928.243 291.523 928.887 293.378C929.303 294.589 929.795 295.989 929.492 297.087C929.114 298.412 929.492 299.131 930.287 299.85C935.018 303.937 939.067 309.236 945.311 311.015C951.215 312.68 956.551 315.784 962.379 317.449C964.99 318.206 968.018 319.266 970.894 317.639C971.235 317.449 971.764 317.639 972.256 317.904C976.192 319.682 980.204 321.31 984.14 323.127C984.707 323.392 985.464 324.149 985.199 325.133"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 82.2625; stroke-dashoffset: 0;"></path>
                <path
                    d="M951.783 312.113C951.934 310.485 951.177 309.425 949.739 308.706C945.614 306.587 941.527 304.429 937.477 302.234C936.304 301.591 935.207 301.515 934.071 302.234"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 21.7348; stroke-dashoffset: 0;"></path>
                <path
                    d="M942.397 263.705C943.457 265.105 942.511 266.543 941.83 267.414C936.834 273.621 939.975 279.563 942.246 285.543C942.927 287.322 944.668 288.798 943.949 290.993"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 29.2464; stroke-dashoffset: 0;"></path>
                <path
                    d="M1037.69 266.43C1041.4 266.316 1045.56 260.752 1044.46 257.232C1044.05 255.832 1043.03 254.432 1041.44 254.924C1039.54 255.491 1037.08 255.794 1037.01 258.595C1037.01 259.579 1036.59 260.714 1037.31 261.661"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 26.4096; stroke-dashoffset: 0;"></path>
                <path
                    d="M935.737 287.246C938.348 288.836 940.467 291.372 943.911 291.409C944.479 291.409 945.046 292.28 945.614 292.696C948.339 294.74 950.95 297.011 953.826 298.752C956.21 300.19 956.513 303.029 958.557 304.619C962.038 307.381 965.293 310.371 968.85 313.059C970.326 314.194 971.159 315.481 971.537 317.184"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 47.6787; stroke-dashoffset: 0;"></path>
                <path
                    d="M940.505 334.633C938.613 343.035 945.008 346.706 950.117 350.945C952.199 352.686 953.675 352.005 955.529 349.318"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 27.0194; stroke-dashoffset: 0;"></path>
                <path
                    d="M915.982 301.553C918.707 305.906 921.848 309.88 926.2 312.832C927.373 313.627 928.584 314.649 928.962 316.2"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 19.795; stroke-dashoffset: 0;"></path>
                <path
                    d="M1025.77 255.529C1021.26 256.286 1019.33 260.185 1016.53 263.023C1014.94 264.613 1014.07 266.922 1011.77 267.792"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 19.0061; stroke-dashoffset: 0;"></path>
                <path
                    d="M918.707 282.818C917.798 285.278 918.593 287.511 919.728 289.631C921.129 292.129 923.551 293.983 924.497 296.784"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 15.7577; stroke-dashoffset: 0;"></path>
                <path
                    d="M966.769 357.985C966.201 358.288 965.255 358.439 965.104 358.855C963.704 363.208 960.449 363.057 956.854 362.64C955.529 362.489 953.978 362.148 952.767 363.284"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 16.3583; stroke-dashoffset: 0;"></path>
                <path
                    d="M956.551 317.903C953.902 319.531 950.874 319.039 948.036 319.569C946.863 319.796 945.463 319.228 944.63 320.628"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 12.5232; stroke-dashoffset: 0;"></path>
                <path d="M935.737 333.951C933.579 337.812 933.125 341.786 935.055 345.873" stroke="white"
                    stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 12.45; stroke-dashoffset: 0;"></path>
                <path
                    d="M921.431 328.16C922.188 326.646 922.642 325.019 923.816 323.732C926.389 320.931 930.174 321.045 933.05 323.732C935.245 325.738 937.78 327.403 940.164 329.22C941.451 330.204 943.116 330.81 943.57 332.626"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 29.3713; stroke-dashoffset: 0;"></path>
                <path
                    d="M975.284 255.188C973.846 257.346 973.543 259.806 973.581 262.342C973.581 263.894 973.808 265.521 972.559 266.77"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 12.1657; stroke-dashoffset: 0;"></path>
                <path
                    d="M981.074 244.629C983.004 244.591 982.399 246.029 982.437 247.013C982.55 249.852 980.62 251.101 978.349 252.123C976.873 252.804 976.873 252.842 974.943 251.442C976.911 249.284 977.441 245.991 980.393 244.629"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 23.0757; stroke-dashoffset: 0;"></path>
                <path
                    d="M930.968 284.521C928.811 283.386 926.692 282.175 924.497 281.153C922.832 280.358 921.129 280.169 919.728 281.796"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 12.5447; stroke-dashoffset: 0;"></path>
                <path
                    d="M1007.68 244.629C1003.21 241.374 1002.19 237.4 1005.11 233.88C1008.06 236.529 1008.62 239.973 1008.32 243.607C1008.09 246.256 1009.23 247.392 1012.11 247.013C1013.58 246.824 1015.06 246.559 1016.53 246.332"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 34.062; stroke-dashoffset: 0;"></path>
                <path
                    d="M978.009 352.346C976.873 354.314 974.716 354.427 972.9 355.033C971.008 355.676 968.964 355.941 967.45 357.455"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 11.9807; stroke-dashoffset: 0;"></path>
                <path
                    d="M1150.35 113.408C1149.86 111.592 1148.27 111.213 1146.76 110.683C1144.22 109.775 1142.1 107.807 1139.26 107.617"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 12.8991; stroke-dashoffset: 0;"></path>
                <path d="M1027.47 253.145C1031.1 253.258 1034.89 252.993 1037.35 256.551" stroke="white"
                    stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 10.9475; stroke-dashoffset: 0;"></path>
                <path
                    d="M975.625 275.324C977.706 275.627 978.312 277.671 979.636 278.844C982.701 281.607 986.789 282.175 989.968 284.521"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 17.3144; stroke-dashoffset: 0;"></path>
                <path d="M1036.67 262.683C1033.49 261.888 1030.04 262.115 1027.13 260.298" stroke="white"
                    stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 9.90126; stroke-dashoffset: 0;"></path>
                <path
                    d="M956.892 300.872C958.33 300.872 959.654 301.212 961.017 301.78C962.493 302.386 964.461 302.953 966.088 301.553"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 9.62887; stroke-dashoffset: 0;"></path>
                <path
                    d="M919.047 314.156C918.593 315.708 919.956 315.822 920.75 316.162C922.642 316.957 924.61 317.563 926.54 318.244"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round"
                    style="visibility: visible; stroke-dasharray: 9.2171; stroke-dashoffset: 0;"></path>
            </svg></div>
  <header>
    <h1 style="opacity: 1;">{{ section.settings.title }}</h1>
  </header>
  
  <div class="content">
    <span style="overflow: hidden; clip-path: inset(0%); opacity: 1;">
      <p>{{ section.settings.description_1 }}</p>
      <h2 class="about-us-title">{{ section.settings.vision_title }}</h2>
      <p>{{ section.settings.vision_description }}</p>
    </span>
    
    <span style="overflow: hidden; clip-path: inset(0%); opacity: 1;">
      <h2 class="about-us-title">{{ section.settings.mission_title }}</h2>
      <p>{{ section.settings.mission_description }}</p>
    </span>
  </div>
  
  <div></div>
  
  <div class="buttons">
    <a href="{{ section.settings.button_1_link }}" type="button" color="black" bgcolor="#ebcfac" tabindex="0"
       style="border-color: {{ section.settings.button_border_color }}; color: {{ section.settings.button_text_color }}; background-color: {{ section.settings.button_background_color }}; transform: none;">
      {{ section.settings.button_1_text }}
    </a>
    
    <a href="{{ section.settings.button_2_link }}" type="button" color="black" bgcolor="#ebcfac" tabindex="0"
       style="border-color: {{ section.settings.button_border_color }}; color: {{ section.settings.button_text_color }}; background-color: {{ section.settings.button_background_color }}; transform: none;">
      {{ section.settings.button_2_text }}
    </a>
  </div>
</article>

{% schema %}
{
  "name": "About Us Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "About Us"
    },
    {
      "type": "textarea",
      "id": "description_1",
      "label": "Description 1",
      "default": "Welcome to FEE, your premier online fashion platform showcasing exclusive, high-demand designs from local and international designers. We create a unique space where fashion enthusiasts can discover the latest trends and unique pieces not available in the Qatari market."
    },
    {
      "type": "text",
      "id": "vision_title",
      "label": "Vision Title",
      "default": "Our Vision"
    },
    {
      "type": "textarea",
      "id": "vision_description",
      "label": "Vision Description",
      "default": "We bridge the gap between talented designers and discerning customers, providing a seamless shopping experience that combines speed, quality, and exclusivity. We aim to be the leading fashion platform in the GCC region and beyond."
    },
    {
      "type": "text",
      "id": "mission_title",
      "label": "Mission Title",
      "default": "Our Mission"
    },
    {
      "type": "textarea",
      "id": "mission_description",
      "label": "Mission Description",
      "default": "We support and promote creative designers from Qatar and around the world, giving them a platform to reach a wider audience. Our commitment is to provide unique, high-quality products and exceptional service."
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "text",
      "id": "button_1_text",
      "label": "Button 1 Text",
      "default": "Become a Designer"
    },
    {
      "type": "url",
      "id": "button_1_link",
      "label": "Button 1 Link"
    },
    {
      "type": "text",
      "id": "button_2_text",
      "label": "Button 2 Text",
      "default": "Company Profile"
    },
    {
      "type": "url",
      "id": "button_2_link",
      "label": "Button 2 Link"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "Button Background Color",
      "default": "#ebcfac"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_border_color",
      "label": "Button Border Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "About Us Section",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}