
{% style %}
  .button-{{ section.id }} {
    width: 322px;
    height: 94px;
    border: 1px solid {{ section.settings.button_border_color }};
    box-sizing: border-box;
    background-color: transparent;
    padding: 10px 20px;
    color: {{ section.settings.button_text_color }};
    font-size: 15px;
    font-weight: 300;
    border-radius: 500px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
  }

  .button-{{ section.id }}:hover {
    background-color: {{ section.settings.button_border_color }};
    color: {{ section.settings.button_hover_text_color }};
  }

  .second-section-{{ section.id }} {
    padding: 80px 0;
    width: 100%;
    background-color: {{ section.settings.background_color }};
    position: relative;
  }

  .second-section-{{ section.id }} header {
    position: absolute;
    width: 100%;
    right: 0;
    top: {{ section.settings.header_position }}px;
  }

  .second-section-{{ section.id }} header h1 {
    margin: -50px 0;
    padding: 0;
    position: absolute;
    right: 90px !important;
    font-family: Cairo, sans-serif;
    color: transparent;
    font-size: 174px !important;
    text-align: right;
    overflow: hidden;
  }

  .second-section-{{ section.id }} header .h1-low-opacity {
    color: transparent;
    background-color: {{ section.settings.low_opacity_color }};
    background-clip: text;
    -webkit-background-clip: text;
  }

  .second-section-{{ section.id }} header .h1-high-opacity {
    color: transparent;
    background-color: {{ section.settings.high_opacity_color }};
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  .second-section-{{ section.id }} .background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .second-section-{{ section.id }} .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }

  @media (max-width: 850px) {
    .button-{{ section.id }} {
      width: 142px;
      height: 60px;
    }
  }

  @media (max-width: 750px) {
    .second-section-{{ section.id }} .buttons {
      gap: 20px;
    }
  }

  @media (max-width: 550px) {
    .button-{{ section.id }} {
      width: 122px;
      height: 54px;
      font-size: 12px;
    }
  }

  @media (max-width: 450px) {
    .second-section-{{ section.id }} {
      padding: 40px 0;
    }

    .second-section-{{ section.id }} .buttons {
      flex-direction: column;
    }

    .second-section-{{ section.id }} header h1 {
      margin: 0;
    }
  }
{% endstyle %}

<article class="second-section second-section-{{ section.id }}">
  <header>
    <h1 dir="rtl" class="h1-low-opacity">
      {{ section.settings.arabic_text }}
    </h1>
    <h1 dir="rtl" class="h1-high-opacity">
      {{ section.settings.arabic_text }}
    </h1>
  </header>
  <div class="background"><svg viewBox="0 0 1440 700" fill="none" preserveAspectRatio="xMidYMax meet">
                <g>
                    <path
                        d="M1476.5 107C1482.83 134.667 1464.1 181.7 1338.5 148.5C1181.5 107 1146 7.50005 1054.5 118.5C963 229.5 960 226.5 911.5 132.5C863 38.5 413.5 3.00008 388 148.5C362.5 294 33 19.4999 175.5 2.49993C318 -14.5001 234 163 175.5 185.5C117 208 38.5 5 -1.50001 51C-41.5 97 -125 360 -27 304C71 248 183.5 207 250.5 263"
                        stroke="white" style="visibility: visible; stroke-dasharray: 2796.94; stroke-dashoffset: 0;"></path>
                </g>
                <g transform="translate(73,226)">
                    <path
                        d="M60.5315 97.2145C59.4496 97.159 59.0057 97.9916 58.3954 98.6854C53.7349 104.014 50.5724 110.286 47.1047 116.363C44.1641 121.553 41.2513 126.77 37.5895 131.544C32.9289 137.593 26.382 141.062 20.0847 144.92C15.5906 147.667 11.0965 150.443 7.12954 153.912C3.19028 157.353 0.749044 161.46 1.08194 167.094C1.5258 174.753 1.60902 182.468 3.93929 189.878C5.13217 193.624 7.21276 196.816 10.7359 198.842C15.5629 201.617 19.0028 205.919 22.6092 209.97C27.8523 215.826 32.5128 222.126 36.3134 229.091C39.892 235.668 42.3887 242.662 44.608 249.766C46.7441 256.566 49.7401 262.893 55.2607 267.639C59.6715 271.413 64.6649 274.299 69.908 276.88C77.6201 280.682 85.7206 283.513 93.7933 286.399C97.2055 287.62 100.285 286.51 102.92 284.262C107.414 280.46 109.939 275.354 112.103 269.997C115.099 262.588 116.957 254.956 117.429 246.991C117.568 244.521 118.622 242.273 119.953 240.164"
                        stroke="white" style="visibility: visible; stroke-dasharray: 313.772; stroke-dashoffset: 0;"></path>
                    <path
                        d="M157.21 293.864C157.487 291.894 159.069 290.756 160.234 289.424C166.364 282.43 170.831 274.327 175.519 266.39C178.598 261.2 181.789 256.094 185.7 251.432C190.749 245.409 194.383 238.416 198.295 231.644C200.819 227.26 203.843 223.18 205.785 218.462C206.673 216.325 207.116 214.105 206.784 211.857C206.395 209.138 204.426 207.778 201.929 206.918C198.628 205.807 195.188 205.891 191.914 206.39C181.262 208.028 171.053 211.08 161.454 216.103C157.349 218.24 153.659 220.96 150.164 223.985"
                        stroke="white" style="visibility: visible; stroke-dasharray: 160.092; stroke-dashoffset: 0;"></path>
                    <path
                        d="M177.433 37.1318C183.62 41.4611 189.14 46.5397 194.244 52.0623C202.345 60.8042 209.031 70.5728 214.218 81.2573C220.266 93.7178 223.955 106.872 225.564 120.637C226.147 125.605 226.397 130.572 226.397 135.568C226.397 144.615 224.732 153.384 222.069 161.96C221.07 165.151 220.016 168.426 218.296 171.34"
                        stroke="white" style="visibility: visible; stroke-dasharray: 151.151; stroke-dashoffset: 0;"></path>
                    <path
                        d="M271.976 231.866C273.862 237.195 275.693 242.551 273.64 248.268C272.725 250.821 271.532 253.124 269.534 255.206C267.759 257.037 266.427 259.452 264.735 261.478C262.793 263.809 260.435 265.696 258.105 267.639C254.249 270.83 252.14 274.993 250.421 279.572C246.842 289.091 242.265 298.082 236.051 306.269C231.002 312.902 224.954 318.369 218.324 323.281C213.33 326.944 208.032 330.191 203.427 334.382C199.432 338.045 196.519 342.458 193.912 347.286C190.277 354.086 189.945 361.384 189.39 368.655C167.668 459.32 362.911 286.26 362.911 286.898"
                        stroke="white" style="visibility: visible; stroke-dasharray: 399.191; stroke-dashoffset: 0;"></path>
                    <path
                        d="M164.034 151.553C167.197 152.524 170.331 151.747 173.383 151.081C177.683 150.137 181.955 148.972 186.366 149.027C196.131 149.138 201.318 156.187 202.317 163.486C203.038 168.759 201.873 173.893 201.069 179.055C200.181 184.938 199.377 190.821 202.067 196.538C202.9 198.314 204.037 199.758 205.535 201.228C208.087 196.927 209.502 192.403 210.584 187.769C212.165 180.914 213.053 173.921 212.887 166.899C212.609 154.106 204.259 143.366 192.303 141.118C187.198 140.147 182.288 141.118 177.378 142.394C172.995 143.532 168.917 145.419 164.783 147.418C163.868 142.505 165.615 138.481 168.667 134.985C173.688 129.212 180.346 127.686 187.587 128.186C193.079 128.574 198.211 130.239 203.149 132.792C211.25 136.983 215.522 143.81 217.381 152.441C218.629 158.185 218.102 163.902 217.519 169.702C217.131 173.782 214.995 176.945 213.747 180.553C213.552 181.136 213.33 181.691 213.109 182.246"
                        stroke="white" style="visibility: visible; stroke-dasharray: 292.137; stroke-dashoffset: 0;"></path>
                    <path
                        d="M218.518 263.42C218.712 264.197 218.102 264.53 217.658 264.891C212.692 268.943 207.505 272.579 201.069 273.883C200.07 274.077 199.127 274.466 198.073 274.105C197.407 273.855 196.686 274.105 196.186 274.521C190.111 279.405 182.871 282.125 175.935 285.317C170.359 287.87 164.839 290.506 159.318 293.198C156.821 294.419 154.519 295.946 152.133 297.361C148.749 299.331 145.17 299.442 141.453 299.026C136.487 298.499 131.965 296.528 127.388 294.752C122.311 292.782 117.207 291.061 111.631 291.311C102.754 291.727 92.4894 300.081 94.5978 311.792C95.43 316.399 97.3997 320.534 99.9796 324.336C104.141 330.441 109.134 335.853 114.849 340.543C115.126 340.765 115.404 340.987 115.709 341.181C115.82 341.237 115.986 341.181 116.125 341.181C117.124 340.404 116.264 339.571 116.097 338.85C114.627 332.911 116.846 328.138 120.591 323.697C125.724 317.564 131.827 312.624 138.068 307.712C141.675 304.882 145.559 302.356 148.943 299.193"
                        stroke="white" style="visibility: visible; stroke-dasharray: 241.681; stroke-dashoffset: 0;"></path>
                    <path
                        d="M142.507 126.41C143.367 125.882 143.09 125.05 143.145 124.273C143.561 119.943 143.672 115.559 142.868 111.285C141.897 106.123 139.261 101.738 135.267 98.2693C127.083 91.2203 117.817 86.1418 107.359 83.3666C96.401 80.4804 85.7206 81.7015 75.4286 86.336C74.6796 86.6691 73.8196 87.0853 73.4867 88.0011"
                        stroke="white" style="visibility: visible; stroke-dasharray: 98.04; stroke-dashoffset: 0;"></path>
                    <path
                        d="M251.946 274.493C251.253 274.438 250.864 274.91 250.448 275.354C245.926 280.349 240.323 283.929 234.719 287.537C229.587 290.839 225.537 295.39 221.736 300.108C217.825 304.992 213.525 309.488 209.142 313.929C205.396 317.675 201.762 321.477 199.349 326.278C195.909 333.105 193.69 340.293 192.275 347.786C192.164 348.396 192.33 348.674 192.552 349.062"
                        stroke="white" style="visibility: visible; stroke-dasharray: 98.5113; stroke-dashoffset: 0;"></path>
                    <path
                        d="M144.005 233.587C145.087 231.201 146.113 228.786 147.806 226.76C148.277 226.205 148.61 225.456 149.331 225.317C150.275 225.123 150.053 224.401 149.942 224.013C148.471 219.711 147.972 215.132 145.947 210.997C145.059 209.193 143.866 207.75 141.869 207.417C138.817 206.89 136.321 205.53 133.99 203.56C129.496 199.813 124.364 199.591 118.871 200.951C112.963 202.422 107.497 205.142 101.644 206.779C96.3177 208.278 91.1301 210.276 85.8593 212.024C84.8883 212.357 83.8619 212.718 84.0284 213.828C84.1671 214.688 85.2212 214.799 86.0812 215.049C89.216 215.937 92.4895 216.603 95.652 216.159C98.2042 215.798 100.729 215.16 103.336 215.243C113.018 215.521 122.339 216.964 130.856 222.181C135.932 225.289 139.705 229.646 143.783 233.781C144.199 234.225 144.06 234.864 143.811 235.474C143.256 236.917 143.062 238.388 143.339 239.942C143.672 241.691 144.837 242.329 146.335 242.718C147.639 240.803 146.973 238.555 144.199 235.474"
                        stroke="white" style="visibility: visible; stroke-dasharray: 178.573; stroke-dashoffset: 0;"></path>
                    <path
                        d="M116.541 131.1C115.764 126.215 114.155 121.664 111.187 117.695C106.638 111.59 100.895 107.011 93.5436 104.68C87.6625 102.82 81.7813 103.098 75.8724 104.68C68.1049 106.706 61.4192 110.813 54.7891 115.114C52.8194 116.391 51.1827 118.223 48.8524 119.027C48.2976 119.222 47.9924 120.11 47.5486 120.665"
                        stroke="white" style="visibility: visible; stroke-dasharray: 87.6961; stroke-dashoffset: 0;"></path>
                    <path
                        d="M143.145 128.13C142.063 125.383 139.761 123.523 137.957 121.359C132.465 114.809 127.055 108.177 120.758 102.349C113.961 96.0767 106.582 90.8871 97.3442 88.667C90.0205 86.8909 82.8355 86.8354 75.3731 88.1397C69.3255 89.1943 65.4694 93.1073 61.1418 96.604C59.2831 101.35 55.3439 104.763 53.2078 109.37C52.0981 111.757 50.7943 114.06 49.6014 116.391C49.1853 117.196 49.0189 117.917 49.0189 118.75"
                        stroke="white" style="visibility: visible; stroke-dasharray: 125.998; stroke-dashoffset: 0;"></path>
                    <path
                        d="M252.39 199.064C247.092 203.948 247.314 210.026 248.784 216.325C249.339 218.74 250.615 220.904 252.224 222.681C257.134 228.175 256.551 234.087 253.86 240.192C250.393 248.101 244.678 253.929 237.049 257.87C234.22 259.341 231.362 260.728 228.533 262.144C227.728 262.56 226.924 262.948 225.98 262.56"
                        stroke="white" style="visibility: visible; stroke-dasharray: 81.8088; stroke-dashoffset: 0;"></path>
                    <path
                        d="M229.809 203.976C225.842 205.419 223.262 208.472 221.098 211.885C218.518 215.937 217.242 220.433 217.214 225.289C217.187 231.367 215.855 237.306 214.412 243.161C212.859 249.461 210.806 255.65 207.449 261.283C205.008 265.363 202.789 269.581 198.739 272.384C198.35 272.662 198.156 273.217 197.879 273.633"
                        stroke="white" style="visibility: visible; stroke-dasharray: 79.5214; stroke-dashoffset: 0;"></path>
                    <path
                        d="M118.455 133.236C120.869 133.847 122.506 135.678 124.42 137.066C130.994 141.867 136.792 147.445 141.259 154.328C143.533 157.824 145.364 161.488 146.169 165.623C146.335 166.511 146.696 167.343 146.141 168.204C145.004 168.093 144.255 167.26 143.395 166.677C137.735 162.792 131.799 162.57 125.724 165.428C121.951 167.205 118.372 169.341 115.487 172.45C112.103 176.113 112.574 181.469 117.429 183.661C123.366 186.326 129.469 186.437 135.267 182.884C136.043 182.413 137.208 182.413 137.403 181.192"
                        stroke="white" style="visibility: visible; stroke-dasharray: 115.803; stroke-dashoffset: 0;"></path>
                    <path
                        d="M166.143 156.659C165.033 158.213 165.893 159.767 166.143 161.349C167.752 171.673 168.112 182.024 167.252 192.459C166.975 195.872 165.56 198.259 162.314 199.48C158.874 200.757 155.906 199.924 153.382 197.371C150.441 194.401 149.72 190.655 149.803 186.714C149.831 184.883 151.051 183.467 152.771 182.94C154.658 182.357 155.629 182.912 156.378 185.243C156.932 186.964 156.572 188.241 154.685 188.851C153.298 189.295 151.745 189.156 150.441 189.933"
                        stroke="white" style="visibility: visible; stroke-dasharray: 85.689; stroke-dashoffset: 0;"></path>
                    <path
                        d="M61.3915 119.583C64.2488 118.251 66.8288 119.943 69.4642 120.498C78.9517 122.441 87.5238 126.854 96.29 130.711C103.836 134.041 111.409 137.288 119.509 138.981C121.313 139.37 123.171 139.564 124.836 140.48"
                        stroke="white" style="visibility: visible; stroke-dasharray: 67.3586; stroke-dashoffset: 0;"></path>
                    <path
                        d="M122.062 138.981C120.702 137.038 118.483 135.762 118.122 133.014C117.956 131.849 116.402 131.405 115.265 130.794C112.824 129.49 110.466 128.075 107.997 126.826C98.1764 121.858 87.9676 118.361 76.9266 117.418C73.2925 117.113 69.7971 117.584 66.274 118.084C65.6082 118.167 65.1366 118.334 64.9979 119.055"
                        stroke="white" style="visibility: visible; stroke-dasharray: 64.4322; stroke-dashoffset: 0;"></path>
                    <path
                        d="M241.516 212.274C242.792 214.3 242.986 216.658 243.652 218.879C244.623 222.07 245.594 225.289 246.648 228.453C248.09 232.782 246.87 236.723 244.678 240.359C240.239 247.796 234.941 254.512 228.172 260.062C225.592 262.199 223.095 264.419 220.238 266.168"
                        stroke="white" style="visibility: visible; stroke-dasharray: 65.3472; stroke-dashoffset: 0;"></path>
                    <path
                        d="M269.839 254.679C269.257 253.707 269.923 252.958 270.256 252.125C272.419 246.936 272.697 241.607 271.532 236.14C270.783 232.616 270.921 229.008 270.117 225.484C269.035 220.794 267.62 216.575 263.487 213.495C260.574 211.33 258.41 208.305 256.579 205.058C254.027 200.479 250.67 196.344 248.257 191.654C247.369 189.906 247.341 187.963 246.426 186.298C245.455 184.55 244.539 182.774 243.652 180.97C242.792 179.221 241.987 177.473 241.099 175.558C236.744 179.305 233.72 183.467 232.833 188.851C232.084 193.375 233.082 197.815 234.553 202.033C236.633 208 237.937 214.022 237.465 220.377C237.438 220.905 237.382 221.487 237.881 221.876"
                        stroke="white" style="visibility: visible; stroke-dasharray: 138.013; stroke-dashoffset: 0;"></path>
                    <path
                        d="M120.369 239.554C122.006 237.112 123.948 234.891 125.085 232.116C127.194 227.01 125.834 222.986 121.035 220.155C116.93 217.713 112.38 217.324 107.83 217.019C105.001 216.825 102.143 217.019 99.3138 216.991C98.5925 216.991 97.788 217.186 97.1777 216.575"
                        stroke="white" style="visibility: visible; stroke-dasharray: 47.3676; stroke-dashoffset: 0;"></path>
                    <path
                        d="M198.295 183.939C199.321 180.831 197.684 178.389 196.103 176.085C193.856 172.811 190.25 171.062 186.976 169.064C181.872 165.956 176.324 163.597 171.469 160.045C170.082 159.046 169.083 157.27 167.585 156.77C165.088 155.937 165.172 153.995 164.645 152.191"
                        stroke="white" style="visibility: visible; stroke-dasharray: 48.9751; stroke-dashoffset: 0;"></path>
                    <path
                        d="M84.8051 215.049C84.5277 216.103 84.8883 216.825 85.6374 217.63C90.9914 223.263 96.9835 228.203 103.142 232.921C104.834 234.225 106.665 235.363 108.441 236.556C111.464 238.61 114.96 239.026 118.455 239.526C119.815 239.72 120.758 240.359 121.673 241.413C126.473 246.797 137.541 249.156 143.367 246.131C144.754 245.409 146.169 244.688 146.557 242.939"
                        stroke="white" style="visibility: visible; stroke-dasharray: 75.087; stroke-dashoffset: 0;"></path>
                    <path
                        d="M166.364 157.297C169.527 164.652 175.852 168.343 182.76 171.368C189.14 174.17 194.55 178.167 198.267 184.161C198.683 184.827 198.711 185.715 198.933 186.492"
                        stroke="white" style="visibility: visible; stroke-dasharray: 45.037; stroke-dashoffset: 0;"></path>
                    <path d="M242.376 178.833C237.632 185.743 237.105 193.097 240.24 200.784" stroke="white"
                        style="visibility: visible; stroke-dasharray: 23.0792; stroke-dashoffset: 0;"></path>
                    <path
                        d="M230.447 208C231.695 211.08 231.806 214.383 232.305 217.602C232.916 221.404 233.387 225.262 233.582 229.091C233.72 231.978 233.332 234.919 233.221 237.833C232.86 246.103 228.81 252.68 223.622 258.703C222.152 260.423 220.543 262.255 218.49 263.087C216.049 264.086 213.58 265.058 211.083 265.974C209.003 266.723 206.922 267.417 204.925 268.388C204.315 268.693 203.76 268.666 203.205 268.749"
                        stroke="white" style="visibility: visible; stroke-dasharray: 76.7147; stroke-dashoffset: 0;"></path>
                    <path
                        d="M230.225 203.115C230.058 203.615 230.031 204.031 230.169 204.614C230.613 206.168 230.391 207.361 229.032 208.721C226.147 211.635 225.453 215.548 226.036 219.489C226.369 221.765 227.839 223.596 230.225 224.401C232.111 225.039 233.97 225.789 235.773 224.207C236.023 224.013 236.467 224.04 236.827 223.985"
                        stroke="white" style="visibility: visible; stroke-dasharray: 31.4467; stroke-dashoffset: 0;"></path>
                    <path
                        d="M130.578 180.109C133.075 180.192 135.655 179.776 138.041 180.97C139.761 179.471 142.257 179.859 144.06 178.444C140.621 175.225 132.714 176.168 130.19 180.109C129.912 180.525 129.663 180.914 129.136 180.97"
                        stroke="white" style="visibility: visible; stroke-dasharray: 31.0357; stroke-dashoffset: 0;"></path>
                    <path
                        d="M149.747 225.484C150.663 230.146 151.44 234.864 149.914 239.526C149.498 240.775 148.998 242.218 147.167 242.107"
                        stroke="white" style="visibility: visible; stroke-dasharray: 18.3548; stroke-dashoffset: 0;"></path>
                    <path
                        d="M246.426 189.684C245.899 189.212 245.372 188.768 244.734 188.213C242.681 190.905 242.126 194.263 241.266 197.565C240.073 202.228 241.349 206.834 241.183 211.413C241.044 214.91 240.489 218.629 238.298 221.598C237.382 222.819 237.16 224.041 237.049 225.456C236.605 230.978 235.718 236.446 233.665 241.663"
                        stroke="white" style="visibility: visible; stroke-dasharray: 57.6803; stroke-dashoffset: 0;"></path>
                    <path
                        d="M137.181 182.44C139.261 186.381 142.757 188.463 146.751 189.906C147.833 190.294 148.832 190.266 149.72 189.489"
                        stroke="white" style="visibility: visible; stroke-dasharray: 15.6063; stroke-dashoffset: 0;"></path>
                    <path d="M246.842 190.766C244.761 195.04 245.76 200.202 249.172 202.921" stroke="white"
                        style="visibility: visible; stroke-dasharray: 13.3431; stroke-dashoffset: 0;"></path>
                    <path
                        d="M254.72 203.338C252.889 206.612 254.415 209.776 255.164 212.912C255.303 213.523 255.858 214.05 256.274 214.744C258.022 213.856 259.769 212.968 261.517 212.079"
                        stroke="white" style="visibility: visible; stroke-dasharray: 17.9146; stroke-dashoffset: 0;"></path>
                    <path
                        d="M407.797 219.794C406.715 221.876 406.16 224.235 404.412 225.928C402.803 227.482 401.416 227.176 400.778 225.012C399.447 220.599 399.502 216.048 400.168 211.552C401.472 202.755 405.91 194.929 408.074 186.409C409.295 181.636 410.904 177.001 412.402 172.339C415.01 164.152 410.765 154.938 402.887 152.496C397.727 150.887 392.345 151.691 387.324 153.44C383.606 154.744 380.083 156.687 376.588 158.602C371.262 161.516 365.575 163.542 359.721 164.929C357.585 165.429 355.255 165.012 352.841 165.012C355.31 173.921 353.785 182.357 351.787 190.738C349.873 198.703 348.181 206.751 348.514 214.938C348.874 224.207 349.984 233.393 351.926 242.551C353.646 250.599 354.922 258.758 357.003 266.723C361.413 283.735 367.655 299.914 379.972 312.93C387.879 321.283 397.366 327.333 408.685 330.164C409.961 330.497 411.153 330.413 412.374 330.136"
                        stroke="white" style="visibility: visible; stroke-dasharray: 336.812; stroke-dashoffset: 0;"></path>
                    <path
                        d="M581.624 129.74C583.482 131.488 585.923 130.628 588.087 131.155C601.209 134.402 609.947 142.228 612.638 155.521C613.692 160.711 613.554 166.455 611.334 171.728C610.169 174.531 607.95 175.891 605.204 176.612C602.957 177.223 600.654 177.667 598.49 178.472C593.774 180.22 590.418 183.717 587.477 187.63C584.509 191.598 580.708 194.263 575.826 195.289C572.691 195.955 569.417 195.983 566.366 195.484C559.625 194.401 553.771 196.039 548.279 199.868C544.256 202.671 540.012 205.058 534.824 204.808C529.775 204.559 527.306 202.671 525.947 198.37C524.477 193.735 522.729 189.212 520.51 184.855C519.705 183.301 518.817 181.885 517.68 180.609C515.683 178.361 513.935 178.389 511.882 180.609C509.829 182.829 508.941 185.854 506.75 188.018C506.278 188.462 506.611 189.795 506.694 190.71C507.305 196.261 505.363 199.452 500.591 202.422C493.212 207.001 484.446 203.754 478.814 199.313C474.071 195.595 471.851 190.377 470.326 184.882C468.356 177.778 464.223 172.45 458.008 168.675C454.985 166.872 452.321 164.735 450.712 161.599C448.049 156.437 449.769 151.691 452.543 147.223C454.624 143.893 456.51 140.618 456.233 136.483C456.094 134.263 455.04 132.376 454.43 130.35C453.82 128.296 452.46 126.271 453.459 123.939"
                        stroke="white" style="visibility: visible; stroke-dasharray: 323.194; stroke-dashoffset: 0;"></path>
                    <path
                        d="M524.698 303.438C526.197 304.521 527.695 303.494 528.971 303.05C548.39 296.334 563.98 284.401 576.131 267.888C588.476 251.071 596.049 232.005 601.819 212.135C602.485 209.831 603.484 207.584 603.622 204.725C600.571 205.114 598.157 206.529 595.744 207.584C583.593 212.912 572.247 219.628 561.761 227.759C547.585 238.693 535.351 251.431 525.253 266.306C522.424 270.469 521.314 275.576 517.819 279.35C517.763 279.405 517.264 281.487 518.235 282.652C519.233 283.846 519.733 285.455 520.426 286.898"
                        stroke="white" style="visibility: visible; stroke-dasharray: 258.313; stroke-dashoffset: 0;"></path>
                    <path
                        d="M416.369 331.912C419.67 335.519 424.275 336.324 428.686 337.851C429.962 335.658 428.603 334.604 427.105 333.438C424.136 331.162 420.613 331.579 417.284 331.384C415.148 331.273 413.65 330.885 412.013 329.22C404.634 321.838 406.826 307.324 414.843 300.968C419.726 297.083 424.636 293.253 428.353 288.119C429.463 286.565 430.517 284.845 429.74 283.235C428.852 281.403 426.661 281.376 424.663 281.32C417.146 281.07 409.766 282.486 402.332 283.041C399.558 283.235 396.922 282.819 394.398 282.375C391.679 281.903 390.181 279.183 390.098 276.158C390.015 273.55 389.793 271.413 393.371 270.136C397.061 268.832 400.168 265.807 403.552 263.614C411.736 258.286 420.669 257.565 430.184 258.591C440.254 259.674 449.991 262.199 459.867 264.197C460.339 264.281 460.977 264.447 461.532 263.809C462.364 260.978 461.116 258.98 458.647 257.481C452.821 253.901 447.217 249.794 440.282 248.628C429.629 246.825 419.004 245.354 408.74 250.71C402.498 253.985 397.311 258.342 393.482 264.253C392.206 266.251 391.124 268.443 391.291 270.969"
                        stroke="white" style="visibility: visible; stroke-dasharray: 302.866; stroke-dashoffset: 0;"></path>
                    <path
                        d="M520.732 306.186C517.846 310.127 513.796 312.763 509.996 315.649C499.482 323.614 487.303 327.915 474.847 331.662C466.691 334.104 458.591 336.852 451.267 341.403C442.196 347.009 435.483 354.585 433.069 365.047C431.654 371.236 432.653 377.647 435.039 383.697C437.064 388.803 439.671 393.632 442.196 398.516C444.915 403.789 447.3 409.367 449.409 414.973"
                        stroke="white" style="visibility: visible; stroke-dasharray: 162.96; stroke-dashoffset: 0;"></path>
                    <path
                        d="M524.698 302.828C524.754 303.799 523.7 304.271 523.977 305.603C525.531 312.985 524.005 320.034 520.704 326.722C516.543 335.131 509.441 340.237 501.118 343.873C490.383 348.563 478.842 350.95 468.079 355.556C459.146 359.358 451.406 364.825 446.385 373.345C442.501 379.922 441.225 387.166 442.362 394.77C442.501 395.741 443.056 396.712 442.057 397.517"
                        stroke="white" style="visibility: visible; stroke-dasharray: 140.152; stroke-dashoffset: 0;"></path>
                    <path
                        d="M562.649 138.925C561.622 142.172 560.651 145.419 563.259 148.417C564.729 150.109 566.172 151.858 567.864 153.301C571.443 156.27 575.132 159.129 578.877 161.876C580.653 163.181 582.234 164.651 583.732 166.206C586.09 168.62 587.477 171.478 586.118 174.753C584.564 178.555 581.402 180.47 577.296 180.914C573.412 181.33 569.556 180.553 566.005 179.526C559.985 177.778 554.298 178.472 548.501 179.998C543.729 181.247 539.041 182.912 534.103 183.328C524.31 184.189 518.79 178.278 516.071 170.479C514.878 167.01 515.183 163.319 515.516 159.767C515.932 155.604 521.592 152.33 525.836 152.357C528.083 152.357 530.302 153.245 532.577 152.441C538.541 150.304 541.038 144.642 538.652 138.037C537.57 135.012 535.49 132.709 532.549 131.294"
                        stroke="white" style="visibility: visible; stroke-dasharray: 184.451; stroke-dashoffset: 0;"></path>
                    <path
                        d="M548.889 123.607C546.059 120.97 543.646 118.139 543.063 114.115C542.453 109.842 542.37 105.679 543.979 101.544C546.642 94.6891 550.775 88.7502 555.047 82.8668C557.1 80.0361 558.959 76.9279 561.539 74.6523C568.863 68.1306 576.103 61.3591 585.618 57.9734C586.173 57.7792 586.645 57.7792 587.172 57.7236C589.863 57.3629 591.222 56.0863 591.472 53.7274C591.721 51.202 589.613 50.2029 588.06 49.8699C584.231 49.0928 580.292 48.2603 576.436 50.3139C574.217 51.5072 572.275 51.1742 570.583 48.8708C568.807 46.4842 567.226 44.0142 565.756 41.4611C562.205 35.3002 558.182 35.0226 551.691 37.8256C549.305 38.8524 547.197 40.462 544.922 41.7386C540.983 43.9587 538.902 43.3759 537.321 39.2687C535.518 34.6341 528.111 29.389 522.895 30.0551C517.569 30.7211 514.185 33.9403 511.244 38.0476C508.664 41.6553 507.221 45.8459 505.196 49.7311C503.671 52.6451 501.951 55.3647 499.62 57.6404C496.153 61.0261 495.487 60.4711 492.019 58.2509C489.328 56.5303 486.748 54.6987 483.419 54.6154C478.232 54.4767 476.706 56.3638 477.261 61.6644C477.538 64.2176 477.649 66.9095 476.623 69.2962C475.125 72.8206 471.74 73.5699 468.411 74.2082C466.581 74.569 464.694 74.68 462.919 75.1518C457.093 76.7892 454.68 81.5347 453.875 86.7798C452.876 93.2183 451.24 99.2126 447.966 104.846C443.666 112.256 445.775 117.224 450.99 121.053C451.822 121.664 452.155 122.913 453.431 122.913"
                        stroke="white" style="visibility: visible; stroke-dasharray: 326.36; stroke-dashoffset: 0;"></path>
                    <path
                        d="M542.453 138.926C546.975 142.617 551.913 141.285 556.851 140.147C560.901 139.203 564.59 137.594 567.892 134.985C571.359 132.265 575.715 131.238 579.793 129.767C582.345 128.852 584.425 127.02 587.422 126.854C590.861 126.659 593.996 127.131 597.242 128.158C600.016 129.046 602.901 129.712 605.786 129.99C613.11 130.683 618.575 126.854 623.541 122.08C628.922 116.891 632.446 110.73 632.362 103.098C632.279 97.0758 629.061 91.9972 623.291 90.1379C617.854 88.3618 612.527 86.6134 606.729 86.5301C602.79 86.4746 599.517 88.1675 595.966 89.5273C590.723 91.5255 588.087 96.0213 584.758 99.8233C581.624 103.431 577.795 106.345 574.993 110.341C574.106 111.59 571.914 113.56 569.362 112.95C568.557 112.756 567.808 113.338 567.254 113.644C560.873 117.085 554.548 120.693 548.251 124.3C546.947 125.05 545.699 126.021 544.589 127.048C540.123 131.072 539.651 133.347 542.176 138.787C541.676 139.425 541.121 140.147 540.594 140.84"
                        stroke="white" style="visibility: visible; stroke-dasharray: 235.237; stroke-dashoffset: 0;"></path>
                    <path
                        d="M522.257 105.54C520.815 98.5467 524.282 93.4681 528.666 88.6671C530.469 86.6967 532.272 84.6708 533.853 82.5339C535.767 79.9252 536.544 76.6783 536.211 73.6811C535.518 67.6312 531.162 66.2436 525.947 68.4915C518.54 71.6829 514.739 77.9271 512.465 85.3091C510.717 90.9427 512.021 96.4376 513.463 101.821C513.935 103.57 512.659 105.679 514.601 107.067"
                        stroke="white" style="visibility: visible; stroke-dasharray: 94.9983; stroke-dashoffset: 0;"></path>
                    <path
                        d="M511.244 109.814C509.524 112.783 506.445 113.255 503.587 113.421C490.383 114.115 478.121 111.062 467.163 103.403C464.417 101.488 461.643 99.823 457.981 99.934C454.763 100.045 453.126 102.015 451.933 104.347C450.824 106.539 450.879 108.842 452.71 111.09C455.234 114.171 458.397 116.335 461.67 118.361C465.832 120.97 468.633 124.744 471.186 128.796C471.657 129.573 471.962 130.156 471.463 130.961"
                        stroke="white" style="visibility: visible; stroke-dasharray: 100.717; stroke-dashoffset: 0;"></path>
                    <path
                        d="M517.042 156.381C517.153 153.939 517.208 151.469 517.347 149.027C517.514 146.502 512.964 139.98 510.606 139.952C509.469 139.952 507.998 140.036 506.972 140.507C503.92 141.923 500.425 143.116 498.178 145.447C490.632 153.246 483.558 161.46 476.345 169.564C474.709 171.395 473.655 173.615 472.989 176.002C472.323 178.222 473.183 179.943 474.792 181.525C476.9 183.606 479.619 184.522 482.171 185.771C484.807 187.075 486.887 188.601 488.08 191.571C489.051 193.93 490.549 196.289 493.157 197.426C496.07 198.675 499.759 197.343 502.7 194.402C503.976 193.125 504.614 191.238 506.334 190.377"
                        stroke="white" style="visibility: visible; stroke-dasharray: 120.151; stroke-dashoffset: 0;"></path>
                    <path
                        d="M557.433 232.061C558.321 235.447 556.989 238.666 556.407 241.857C553.66 256.982 548.168 271.163 539.873 284.095C535.684 290.617 530.94 296.834 525.281 302.245"
                        stroke="white" style="visibility: visible; stroke-dasharray: 78.9493; stroke-dashoffset: 0;"></path>
                    <path
                        d="M423.692 227.454C427.909 225.234 428.242 224.762 428.908 220.238C434.955 219.434 440.504 221.321 446.08 223.874C445.719 218.573 443.833 214.688 439.949 211.469C434.151 206.64 428.076 202.422 420.613 200.868C417.256 200.146 413.761 199.674 411.126 202.949C407.769 207.167 408.712 212.523 413.622 214.521C418.2 216.381 421.14 219.406 422.472 224.096C424.275 230.479 421.334 237.111 415.453 240.331C410.321 243.134 405.134 245.853 400.168 248.934C393.066 253.374 388.628 260.145 385.16 267.583C383.301 271.579 383.773 272.162 388.184 272.162H390.015"
                        stroke="white" style="visibility: visible; stroke-dasharray: 172.601; stroke-dashoffset: 0;"></path>
                    <path
                        d="M542.148 137.704C544.95 133.375 549.555 131.987 554.077 130.683C564.729 127.603 575.659 125.299 585.896 120.831C587.394 120.165 588.864 119.36 590.168 118.361C592.776 116.363 592.748 114.67 589.863 112.922C586.34 110.813 582.678 108.731 578.239 110.369C577.546 110.618 576.63 110.202 575.798 110.119"
                        stroke="white" style="visibility: visible; stroke-dasharray: 74.4227; stroke-dashoffset: 0;"></path>
                    <path
                        d="M592.942 90.8316C596.465 83.9769 601.459 79.0371 609.476 77.9548C616.744 76.9835 618.27 74.4858 617.188 66.9096C616.245 60.3046 612.555 56.0586 606.369 54.8375C602.152 54.005 597.519 54.0882 593.275 55.6423C592.498 55.9198 592.027 55.6423 591.416 55.5868"
                        stroke="white" style="visibility: visible; stroke-dasharray: 70.5479; stroke-dashoffset: 0;"></path>
                    <path
                        d="M588.06 58.0566C585.84 61.9141 581.929 63.8013 578.572 66.2989C576.797 67.6033 574.993 68.9354 573.052 69.9622C565.229 74.0694 560.429 80.8131 556.545 88.3616C554.298 92.7187 552.301 97.1867 550.692 101.821C549.721 104.652 549.915 107.538 549.777 110.424C549.721 111.84 551.025 112.367 551.33 113.477"
                        stroke="white" style="visibility: visible; stroke-dasharray: 71.3266; stroke-dashoffset: 0;"></path>
                    <path
                        d="M471.74 73.6812C472.545 77.1779 472.378 80.4804 468.966 82.534C464.223 85.3924 464.805 91.6366 467.801 95.4108C472.462 101.239 478.731 103.709 486.11 104.43C493.046 105.096 500.12 104.486 506.972 106.65C509.302 107.4 510.606 109.648 513.047 109.842"
                        stroke="white" style="visibility: visible; stroke-dasharray: 73.6854; stroke-dashoffset: 0;"></path>
                    <path
                        d="M562.649 72.7376C562.427 71.2945 563.203 70.0734 563.564 68.7413C564.812 64.079 565.201 59.2779 563.786 54.6711C562.205 49.537 557.461 48.2882 553.438 52.1735C548.889 56.5582 546.143 62.1364 543.035 67.4925C537.876 76.3176 535.157 86.0862 532.105 95.7161C531.024 99.1573 528.582 101.849 527.445 105.207"
                        stroke="white" style="visibility: visible; stroke-dasharray: 91.2475; stroke-dashoffset: 0;"></path>
                    <path
                        d="M511.244 219.184C504.392 230.312 505.418 242.273 508.331 254.068C510.412 262.504 513.491 270.747 517.375 278.601"
                        stroke="white" style="visibility: visible; stroke-dasharray: 62.2293; stroke-dashoffset: 0;"></path>
                    <path
                        d="M477.871 62.6357C481.7 62.608 484.862 63.8568 487.386 66.9095C489.55 69.5459 492.158 71.2943 495.931 71.322C498.982 71.322 500.786 73.5977 502.117 76.4006C504.031 80.4246 504.642 84.7539 505.002 89C505.474 94.5781 506.112 100.212 505.723 105.845"
                        stroke="white" style="visibility: visible; stroke-dasharray: 59.162; stroke-dashoffset: 0;"></path>
                    <path
                        d="M511.244 220.405C514.018 224.29 515.239 228.841 516.737 233.282C520.454 244.216 522.257 255.455 522.562 266.972C522.562 267.167 522.757 267.389 522.868 267.583"
                        stroke="white" style="visibility: visible; stroke-dasharray: 49.0707; stroke-dashoffset: 0;"></path>
                    <path
                        d="M588.365 94.4946C584.481 95.1052 581.485 97.6583 577.99 99.1569C572.025 101.71 566.449 105.04 561.428 109.203C559.403 110.896 557.1 112.2 554.687 113.144C551.33 114.476 547.946 114.92 544.894 112.256C544.45 111.867 544.173 111.146 543.368 111.34"
                        stroke="white" style="visibility: visible; stroke-dasharray: 51.0335; stroke-dashoffset: 0;"></path>
                    <path
                        d="M538.458 112.894C539.707 114.088 540.261 115.697 540.844 117.196C541.593 119.083 541.87 121.359 539.928 122.607C538.236 123.69 536.1 123.801 534.158 122.691C532.3 121.636 531.329 119.333 528.749 118.944C527.334 119.749 526.141 120.804 525.836 122.746C527.056 124.744 529.414 125.077 531.107 126.354C532.161 127.159 533.603 127.797 533.187 129.407C532.771 130.961 531.44 131.46 529.886 131.932C525.642 133.264 522.673 131.488 520.093 128.491C519.705 128.047 519.122 127.409 519.206 126.992C520.066 123.218 517.236 121.497 515.183 119.305C512.215 116.141 511.716 111.868 513.963 108.288C515.072 106.567 516.764 105.762 518.845 105.818C523.838 105.984 528.86 105.485 533.853 106.4C536.433 106.872 538.292 109.37 537.876 111.951C537.709 112.922 537.043 112.672 536.599 112.839C534.352 113.727 531.994 113.949 529.581 114.171C524.255 114.643 521.231 114.504 518.817 117.806C519.816 121.081 523.145 123.884 521.009 127.88"
                        stroke="white" style="visibility: visible; stroke-dasharray: 137.488; stroke-dashoffset: 0;"></path>
                    <path
                        d="M522.257 273.716C522.341 278.267 522.562 282.819 521.037 287.203C520.926 287.509 520.704 287.842 520.759 288.119C521.702 293.864 519.289 298.915 517.319 304.021C516.931 305.048 517.763 305.547 517.957 305.492C519.788 304.992 522.063 306.574 523.478 304.326"
                        stroke="white" style="visibility: visible; stroke-dasharray: 38.9279; stroke-dashoffset: 0;"></path>
                    <path
                        d="M509.996 138.926C505.973 135.651 501.701 135.956 496.791 136.9C492.38 137.732 487.636 137.954 483.059 137.094C480.812 136.678 478.565 136.261 476.318 135.873"
                        stroke="white" style="visibility: visible; stroke-dasharray: 34.5352; stroke-dashoffset: 0;"></path>
                    <path
                        d="M558.987 197.121C558.987 205.086 558.931 213.051 559.014 221.015C559.042 223.902 557.655 226.705 558.682 229.591"
                        stroke="white" style="visibility: visible; stroke-dasharray: 32.5618; stroke-dashoffset: 0;"></path>
                    <path
                        d="M514.906 160.073C510.717 166.039 507.055 172.339 503.587 178.75C503.088 179.665 502.949 180.748 503.615 181.469C505.03 182.996 505.28 185.049 506.334 186.714"
                        stroke="white" style="visibility: visible; stroke-dasharray: 30.695; stroke-dashoffset: 0;"></path>
                    <path
                        d="M472.378 132.792C472.628 130.489 470.159 130.988 469.244 129.795C467.496 127.519 465.36 125.521 463.168 123.634C459.895 120.776 456.372 120.748 453.403 123.301C458.286 126.382 462.919 129.878 468.106 132.431C469.271 133.014 470.464 133.93 472.073 133.458C473.599 133.014 474.764 134.402 475.347 135.29C478.731 140.729 484.612 141.839 489.828 144.115C492.491 145.281 495.376 144.309 498.095 145.031"
                        stroke="white" style="visibility: visible; stroke-dasharray: 75.462; stroke-dashoffset: 0;"></path>
                    <path d="M517.347 282.902C514.878 289.785 513.907 296.695 516.737 303.744" stroke="white"
                        style="visibility: visible; stroke-dasharray: 21.3515; stroke-dashoffset: 0;"></path>
                    <path
                        d="M570.915 113.2C566.394 118.5 560.651 121.914 554.077 123.856C553.05 124.162 551.719 124.245 550.72 123.301"
                        stroke="white" style="visibility: visible; stroke-dasharray: 23.7874; stroke-dashoffset: 0;"></path>
                    <path d="M407.492 217.963C411.042 223.513 415.148 228.286 422.5 228.37" stroke="white"
                        style="visibility: visible; stroke-dasharray: 19.1619; stroke-dashoffset: 0;"></path>
                    <path d="M477.261 62.9409C473.46 64.6893 471.352 68.5745 471.74 73.0426" stroke="white"
                        style="visibility: visible; stroke-dasharray: 12.2966; stroke-dashoffset: 0;"></path>
                    <path d="M521.647 293.337C523.395 295.918 522.701 299.22 524.088 301.912" stroke="white"
                        style="visibility: visible; stroke-dasharray: 8.98345; stroke-dashoffset: 0;"></path>
                    <path
                        d="M497.762 137.399C499.676 138.426 501.951 138.093 503.92 139.148C504.725 139.592 505.363 139.952 505.723 140.757"
                        stroke="white" style="visibility: visible; stroke-dasharray: 8.89955; stroke-dashoffset: 0;"></path>
                    <path d="M517.957 147.501C520.371 148.389 522.119 150.359 524.393 151.497" stroke="white"
                        style="visibility: visible; stroke-dasharray: 7.59645; stroke-dashoffset: 0;"></path>
                    <path
                        d="M506.639 107.066C505.696 109.398 506.889 111.479 507.638 113.477C508.331 115.309 510.218 114.92 511.827 114.421"
                        stroke="white" style="visibility: visible; stroke-dasharray: 11.5118; stroke-dashoffset: 0;"></path>
                    <path
                        d="M824.415 327.777C845.582 326.944 865.916 319.563 885.335 311.681C903.866 304.16 924.034 297.639 940.374 285.844C956.048 274.521 972.831 253.458 968.198 232.755C967.366 228.981 964.647 225.068 959.488 224.651C956.408 224.401 953.468 225.789 950.832 227.26C947.67 229.036 944.701 231.228 942.121 233.837C931.469 244.522 929.194 271.58 857.899 301.912C848.356 305.964 822.362 315.816 816.731 326.278C788.296 379.368 521.175 417.804 602.124 214.217"
                        stroke="white" style="visibility: visible; stroke-dasharray: 738.979; stroke-dashoffset: 0;"></path>
                    <path
                        d="M785.383 115.032C784.69 115.92 784.052 116.863 783.247 117.64C781.86 118.972 780.418 119.611 778.226 119.333C773.954 118.806 769.737 119.749 765.576 120.776C760.222 122.081 754.729 123.024 749.236 122.58C742.911 122.053 737.086 119.971 732.869 114.754C732.508 114.31 732.037 113.977 731.676 113.644C730.428 114.171 730.4 115.309 730.816 116.031C733.396 120.721 731.371 124.856 729.79 129.268C727.21 136.539 724.436 143.699 722.216 151.109C719.415 160.572 718.028 170.119 718.693 179.915C719.109 185.938 721.107 191.738 722.577 197.593C725.268 208.417 728.014 219.24 730.761 230.063C733.341 240.248 736.17 250.35 739.194 260.423C743.189 273.633 748.265 286.399 755.062 298.416C759.528 306.353 764.883 313.596 772.178 319.313C777.283 323.309 783.22 325.141 789.35 326.39C800.78 328.721 812.348 328.11 823.916 327.749"
                        stroke="white" style="visibility: visible; stroke-dasharray: 332.52; stroke-dashoffset: 0;"></path>
                    <path
                        d="M781.694 194.207C779.336 195.317 777.394 194.013 775.646 192.848C769.266 188.602 766.519 181.719 770.126 172.311C773.954 162.376 778.06 152.524 782.249 142.755C785.827 134.458 786.937 125.799 786.77 116.863C786.77 115.753 785.91 115.115 785.994 113.949C786.77 104.153 785.688 94.6061 781.943 85.448C782.165 80.6469 780.029 76.4841 778.226 72.2658C776.756 68.8246 774.786 65.5776 770.847 64.6896C769.182 64.3288 767.351 64.2456 765.604 64.079C759.528 63.4963 753.425 63.6628 747.406 64.1623C739.388 64.8283 731.537 66.4934 724.436 70.6562C720.829 72.7931 717.889 75.5683 715.864 79.3148C716.28 80.4526 716.973 80.9522 718.083 80.9522C721.8 80.9522 725.49 80.6469 729.179 80.0086C732.286 79.4536 735.504 79.065 738.667 78.8985C746.934 78.4545 755.173 77.8717 763.468 78.732C768.655 79.2593 773.621 79.8698 778.281 82.4785C779.474 83.1446 780.085 84.6709 781.666 84.6709"
                        stroke="white" style="visibility: visible; stroke-dasharray: 273.173; stroke-dashoffset: 0;"></path>
                    <path
                        d="M794.871 195.262C795.315 189.101 796.813 183.023 796.23 176.779C796.008 174.448 795.231 172.394 793.789 170.729C786.909 162.82 787.519 149.749 793.012 141.645C793.928 140.313 794.704 138.981 796.535 138.704C797.811 140.757 798.477 143.116 799.864 145.114C802.583 149.027 806.467 151.608 810.212 154.3C815.233 157.908 820.892 160.517 825.747 164.374C829.88 167.677 832.904 171.673 834.263 177.001C836.15 184.272 832.488 190.322 826.274 192.043C822.251 193.153 818.201 193.819 814.151 192.043"
                        stroke="white" style="visibility: visible; stroke-dasharray: 147.634; stroke-dashoffset: 0;"></path>
                    <path
                        d="M783.802 110.258C784.079 107.871 782.637 106.123 781.389 104.486C776.867 98.5746 770.625 95.2999 763.495 93.6348C754.646 91.5811 746.324 92.941 738.445 97.3258C731.676 101.1 724.436 102.21 716.807 101.294C716.308 101.239 715.753 101.461 715.059 101.572C716.363 105.374 719.248 107.788 722.105 110.258C724.63 112.423 727.792 113.144 730.816 114.227"
                        stroke="white" style="visibility: visible; stroke-dasharray: 98.868; stroke-dashoffset: 0;"></path>
                    <path
                        d="M785.383 111.063C781.083 110.036 778.004 106.706 774.065 104.958C765.104 100.989 756.421 100.656 747.627 105.707C742.939 108.399 738.306 111.424 732.897 112.673C732.508 112.756 731.815 112.978 731.843 113.699"
                        stroke="white" style="visibility: visible; stroke-dasharray: 58.4562; stroke-dashoffset: 0;"></path>
                    <path
                        d="M810.184 192.875C808.381 190.988 805.551 191.377 803.526 189.767C802.028 188.574 800.78 187.686 800.863 185.466C800.946 183.44 802.111 182.413 803.582 181.83C806.605 180.609 813.291 182.635 815.427 185.216C816.537 186.548 816.564 187.991 815.677 189.434C814.567 191.21 813.014 192.098 811.016 193.042C803.831 196.455 796.452 195.401 789.045 194.957C787.714 194.874 786.41 194.457 785.078 194.18"
                        stroke="white" style="visibility: visible; stroke-dasharray: 67.3575; stroke-dashoffset: 0;"></path>
                    <path
                        d="M774.814 183.135C778.809 185.188 781.61 188.629 784.551 191.849C785.106 192.459 785.05 193.292 784.551 193.93C783.885 194.79 782.831 194.763 782.221 194.18C780.001 191.96 776.756 190.933 775.091 188.13C774.231 186.687 773.565 185.133 774.287 183.384"
                        stroke="white" style="visibility: visible; stroke-dasharray: 32.5082; stroke-dashoffset: 0;"></path>
                    <path
                        d="M844.389 245.049C844.389 245.049 827.384 265.446 798.699 265.446C770.015 265.446 760.555 259.396 757.919 245.049C757.919 245.049 782.47 240.525 793.789 240.137C805.107 239.748 840.561 243.467 846.192 241.774C846.192 241.774 848.217 241.108 847.718 240.109C847.219 239.11 832.516 228.592 829.603 225.678C826.69 222.764 809.712 203.532 788.879 213.217C788.879 213.217 775.313 205.308 765.271 219.517C755.256 233.754 758.724 244.133 758.724 244.133C758.724 244.133 766.575 244.827 775.563 235.835C784.551 226.844 811.377 232.671 822.723 236.917C834.069 241.163 845.499 240.359 845.499 240.359C845.499 240.359 803.193 230.784 798.449 213.523C793.706 196.261 795.009 193.819 795.009 193.819"
                        stroke="white" style="visibility: visible; stroke-dasharray: 482.78; stroke-dashoffset: 0;"></path>
                    <path
                        d="M903.672 383.281C908.887 372.152 917.099 363.188 925.061 354.086C939.985 337.046 956.242 321.255 972.387 305.409C987.34 290.756 1002.71 276.547 1018.35 262.671C1031.03 251.432 1043.74 240.165 1057.19 229.813C1062.16 225.983 1067.71 224.79 1073.5 223.708C1078.89 222.709 1084.3 221.793 1089.73 221.016C1094.48 220.322 1099.3 220.1 1104.05 219.295C1108.82 218.49 1113.62 217.935 1118.42 217.325C1122.99 216.742 1127.6 216.187 1132.18 215.493C1136.12 214.883 1139.94 213.634 1143.83 212.579C1152.68 210.193 1161.64 208.5 1170.88 209.083C1173.51 209.249 1176.09 209.915 1178.7 210.248C1184.91 211.025 1191.15 210.997 1197.37 210.886C1198.23 210.886 1199.2 210.664 1200.06 210.72C1204.78 211.025 1209.41 209.943 1214.12 210.109C1214.93 210.109 1215.73 209.61 1216.57 209.332"
                        stroke="white" style="visibility: visible; stroke-dasharray: 380.141; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1057.8 144.948C1055.97 144.254 1054.25 145.17 1052.45 145.198C1049.34 145.253 1046.23 145.475 1043.24 146.335C1032.11 149.555 1020.07 151.997 1012.14 160.933C998.603 176.141 984.066 190.378 969.613 204.698C966.562 207.723 963.427 210.692 960.264 213.606C953.856 219.517 947.975 225.955 942.787 232.949L942.121 233.837"
                        stroke="white" style="visibility: visible; stroke-dasharray: 150.77; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1259.81 242.329C1263.67 246.187 1267.55 249.989 1269.05 255.567C1270.38 260.534 1272.83 265.141 1274.66 269.942C1276.82 275.604 1276.46 276.797 1271.72 280.738C1266.17 285.317 1259.79 288.092 1252.52 288.564C1251.52 288.619 1250.99 289.091 1250.35 289.674C1243.59 295.973 1240.59 304.16 1239.04 312.958C1238.29 317.315 1237.65 321.755 1237.93 326.195C1238.43 333.882 1239.67 341.348 1243.78 348.147C1246.08 351.949 1248.19 355.945 1248.77 360.552C1249 362.328 1250.27 363.494 1251.94 364.382C1255.85 366.463 1259.81 365.991 1263.86 365.131C1267.83 364.298 1271.52 362.855 1274.99 360.607C1278.4 358.415 1282.42 359.248 1286 360.08C1295.63 362.3 1299.73 356.944 1301.68 349.701C1302.37 347.092 1303.26 344.928 1305.73 343.429C1307.64 342.291 1309.72 342.18 1311.72 341.597C1316.1 340.349 1320.51 339.211 1324.42 336.741C1328.83 333.966 1329.81 331.107 1328.14 325.918C1325.31 317.12 1322.2 308.434 1317.96 300.192C1314.91 294.253 1310.22 289.979 1304.95 286.121C1298.82 281.626 1292.41 277.685 1284.92 275.853C1282.04 275.132 1279.15 275.465 1276.27 275.604"
                        stroke="white" style="visibility: visible; stroke-dasharray: 325.065; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1131.65 73.7924C1131.37 73.4594 1131.01 73.3484 1130.57 73.2097C1127.6 72.1828 1127.04 71.378 1127.6 68.6584C1129.51 59.1672 1131.26 49.6484 1134.59 40.518C1137.06 33.7188 1142.11 31.0824 1148.68 33.1915C1152.57 34.4403 1154.12 37.8261 1154.62 41.8778C1155.06 45.4578 1154.04 48.9546 1153.4 52.3958C1152.73 56.0868 1152.18 59.8333 1151.43 63.5243C1150.26 69.3244 1149.63 75.2355 1148.63 81.0912C1147.74 86.3363 1146.66 91.5536 1145.69 96.7987"
                        stroke="white" style="visibility: visible; stroke-dasharray: 121.414; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1180.86 96.5211C1174.48 94.0789 1174.4 94.0512 1176.29 87.6128C1177.45 83.6165 1177.59 79.4815 1178.42 75.4297C1179.09 72.1827 1179.45 68.8525 1180.39 65.7166C1181.61 61.637 1187.38 57.8628 1191.68 57.8628C1195.09 57.8628 1198.09 60.6935 1198.98 64.9118C1200.42 71.9607 1200.42 79.1762 1199.95 86.2807C1199.62 91.609 1198.84 96.9651 1198.01 102.266C1197.42 105.818 1197.17 109.481 1196.9 113.089C1196.62 116.808 1196.15 120.471 1195.76 124.162"
                        stroke="white" style="visibility: visible; stroke-dasharray: 119.736; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1247.66 293.198C1248.86 295.696 1248.33 298.443 1248.61 301.052C1249.69 310.626 1251.16 320.118 1253.68 329.414C1254.68 333.078 1256.1 336.685 1258.12 340.043C1260.15 343.401 1263.03 344.872 1266.58 345.372C1273.24 346.343 1279.93 345.677 1286.58 345.094C1291.66 344.65 1296.68 343.762 1301.73 343.318C1302.98 343.207 1304.17 342.014 1305.5 342.985"
                        stroke="white" style="visibility: visible; stroke-dasharray: 98.0095; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1197.62 163.875C1203.75 172.728 1209.44 181.858 1215.21 190.905C1223.45 203.782 1232.3 216.27 1241.39 228.537C1241.92 229.23 1242.23 229.536 1243.31 229.48C1244.39 229.425 1245.31 230.562 1246.05 231.728C1250.24 238.222 1254.63 244.577 1258.98 250.96C1259.81 252.181 1260.26 253.763 1261.95 254.207"
                        stroke="white" style="visibility: visible; stroke-dasharray: 111.788; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1184.11 160.905C1188.88 167.538 1193.68 174.115 1198.2 180.914C1201.28 185.521 1204.55 190.045 1207.94 194.429C1211.16 198.592 1213.54 203.282 1216.21 207.75C1221.92 217.353 1227.88 226.76 1234.4 235.835C1239.4 242.801 1243.14 250.46 1246.58 258.286C1248.3 262.199 1250.19 266.057 1251.99 269.914"
                        stroke="white" style="visibility: visible; stroke-dasharray: 128.715; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1230.35 239.082C1232.74 245.077 1234.74 251.21 1236.26 257.482C1237.93 264.281 1241.81 269.748 1246.05 275.049C1248.33 277.879 1250.69 280.682 1253.63 282.902C1254.41 283.485 1255.29 284.429 1256.32 283.18C1255.68 279.017 1253.3 275.298 1253.07 271.025"
                        stroke="white" style="visibility: visible; stroke-dasharray: 66.3454; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1230.08 238.555C1229.33 239.776 1229.24 241.358 1229.8 243.412C1231.35 249.073 1231.93 254.901 1232.52 260.729C1232.91 264.642 1234.51 268.249 1236.04 271.802C1237.59 275.382 1239.54 278.712 1241.89 281.876C1244.22 284.984 1246.97 287.287 1250.6 288.591"
                        stroke="white" style="visibility: visible; stroke-dasharray: 57.0658; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1223.03 155.494C1226.69 150.332 1230.82 145.781 1237.07 143.505C1239.51 142.617 1241.84 142.672 1244.11 143.116C1247 143.671 1248.83 147.584 1248.19 150.887C1247.05 156.604 1244.86 161.932 1242.23 167.122C1241.48 168.593 1240.62 170.008 1239.81 171.451"
                        stroke="white" style="visibility: visible; stroke-dasharray: 57.8457; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1244.14 230.146C1243.14 232.727 1244.58 235.086 1245.08 237.417C1247.08 247.102 1250.8 256.344 1252.66 266.085C1252.96 267.722 1252.85 269.165 1252.8 270.719C1252.8 270.719 1252.6 270.747 1252.55 270.719C1252.44 270.664 1252.35 270.553 1252.27 270.469"
                        stroke="white" style="visibility: visible; stroke-dasharray: 42.4258; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1100.55 49.7035C1101.58 47.8996 1102.49 46.068 1104.02 44.5139C1107.71 40.7952 1115.39 42.3215 1118.33 45.1522C1119.67 46.4288 1119.14 48.5934 1118.86 50.2308C1118 55.1984 1117.09 60.1659 1115.14 64.856"
                        stroke="white" style="visibility: visible; stroke-dasharray: 42.252; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1137.31 176.585C1139.97 173.477 1142.55 170.341 1145.66 167.621C1152.62 161.571 1156.84 162.182 1163.52 167.122C1166.22 169.12 1168.6 171.562 1171.65 173.06C1175.04 174.726 1177.45 174.06 1179.48 170.896C1181.42 167.899 1182.53 164.568 1183.58 161.183C1184.16 159.296 1182.28 158.907 1181.92 157.658C1181.47 156.049 1180.53 156.271 1179.2 156.548C1174.48 157.492 1169.96 159.212 1165.16 159.962C1163.47 160.239 1161.89 160.1 1159.72 160.572C1161.92 155.632 1161.64 150.97 1161.64 146.308C1161.64 141.867 1159.64 138.565 1156.59 135.401C1152.68 131.349 1147.8 131.571 1142.97 131.183C1138.11 130.822 1133.2 130.989 1128.38 130.545C1123.24 130.073 1118.11 129.546 1112.95 129.573C1107.18 129.629 1101.41 129.934 1095.64 130.517C1092.7 130.822 1089.68 131.044 1086.74 131.044C1081.88 131.044 1077.53 132.099 1073.48 134.902C1064.38 141.146 1055.03 147.001 1046.96 154.633C1045.32 156.187 1043.82 157.825 1042.41 159.545"
                        stroke="white" style="visibility: visible; stroke-dasharray: 241.328; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1106.77 76.4841C1104.49 77.1224 1102.24 76.5396 1100 76.1788C1095.97 75.5406 1093.51 76.5119 1091.34 80.0086C1088.6 84.3934 1088.21 89.4997 1086.93 94.3286C1086.18 97.1315 1087.07 100.045 1085.93 102.737C1085.63 103.487 1086.27 103.903 1086.74 104.347"
                        stroke="white" style="visibility: visible; stroke-dasharray: 42.5789; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1122.99 100.573C1118.92 102.155 1117.89 105.984 1116.86 109.537C1115.14 115.503 1113.9 121.609 1112.48 127.631C1112.37 128.047 1112.48 128.519 1112.48 128.991"
                        stroke="white" style="visibility: visible; stroke-dasharray: 31.3131; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1182.47 123.579C1177.17 118.917 1171.35 115.087 1164.63 112.728C1161.78 111.729 1158.67 111.562 1156.42 108.76C1153.04 104.541 1149.15 100.712 1145.41 96.7985C1134.98 85.8643 1124.44 75.0411 1113.53 64.5509C1108.85 60.0551 1103.85 55.7813 1100.25 50.2587L1065.1 1.05469L1057.25 4.44041C1057.25 4.44041 1091.67 53.6167 1112.7 74.375C1119.14 80.7302 1129.85 91.3314 1138.39 99.7957C1138.83 100.24 1139.42 100.628 1139.2 101.433"
                        stroke="white" style="visibility: visible; stroke-dasharray: 307.919; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1251.99 213.384C1252.99 218.074 1254.02 222.764 1254.96 227.454C1255.82 231.7 1256.35 236.03 1258.48 239.887C1260.12 242.829 1260.09 246.242 1261.12 249.378C1262.51 253.68 1263.37 258.175 1266.33 261.811"
                        stroke="white" style="visibility: visible; stroke-dasharray: 50.8232; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1170.85 115.17C1171.57 112.118 1172.29 109.037 1173.01 105.985C1173.79 102.682 1175.87 100.601 1178.59 98.5471C1182.14 95.8829 1185.83 97.104 1189.49 96.771"
                        stroke="white" style="visibility: visible; stroke-dasharray: 30.2246; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1124.08 100.573C1128.93 99.2408 1133.7 99.5461 1138.42 101.322C1139.56 101.738 1140.61 102.238 1141.33 103.043C1144.22 106.318 1147.19 109.509 1149.54 113.255C1152.62 118.195 1156.15 122.858 1159.5 127.631C1159.86 128.158 1160.33 128.575 1160.31 129.268"
                        stroke="white" style="visibility: visible; stroke-dasharray: 50.5025; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1184.64 124.661C1182.33 131.905 1186.11 138.288 1187.69 144.92C1188.33 147.668 1189.74 150.249 1190.27 153.052C1190.38 153.69 1190.82 153.829 1191.15 154.106C1194.59 157.353 1195.73 161.1 1193.51 165.457C1193.21 166.067 1193.51 166.372 1193.62 167.149C1196.54 165.29 1198.03 162.737 1199.01 159.545C1201.53 151.47 1202.06 143.394 1200.03 135.179C1198.56 129.213 1193.71 126.549 1189.21 126.215C1187.77 126.104 1186.33 125.688 1184.89 125.438"
                        stroke="white" style="visibility: visible; stroke-dasharray: 98.8556; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1087.82 104.375C1090.87 106.678 1093.98 108.593 1098.11 107.372C1099.5 106.983 1100.14 106.123 1100.61 104.957C1099.25 102.376 1096.61 102.709 1094.56 102.598C1092.01 102.46 1089.37 103.07 1086.99 104.375C1084.82 105.54 1084.43 107.76 1083.74 109.786C1081.49 116.53 1080.11 123.496 1078.33 130.35C1078.25 130.683 1078.14 131.155 1078.58 131.433"
                        stroke="white" style="visibility: visible; stroke-dasharray: 58.5639; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1175.18 174.42C1176.34 176.863 1178.92 178.111 1180.31 180.359C1180.86 181.247 1181.75 180.97 1182.47 180.859C1187.27 180.137 1192.04 180.221 1196.81 180.859C1197.06 180.887 1197.34 180.692 1197.62 180.609"
                        stroke="white" style="visibility: visible; stroke-dasharray: 25.5302; stroke-dashoffset: 0;"></path>
                    <path d="M1144.88 108.149C1143.08 115.642 1141.28 123.107 1139.47 130.6" stroke="white"
                        style="visibility: visible; stroke-dasharray: 23.0936; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1236.57 178.472C1234.13 182.357 1231.68 186.215 1229.27 190.1C1227.14 193.569 1224.78 196.872 1221.98 199.841"
                        stroke="white" style="visibility: visible; stroke-dasharray: 25.918; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1124.88 87.0576C1123.69 90.0271 1122.94 93.1353 1122.13 96.2435C1121.64 98.1584 1122.52 99.4904 1123.58 100.545C1127.04 104.014 1131.37 105.957 1136.25 106.512C1139.39 106.872 1140.03 106.04 1140.03 102.21"
                        stroke="white" style="visibility: visible; stroke-dasharray: 35.7678; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1201.42 151.442C1206.63 154.245 1211.88 157.02 1217.09 159.851C1219.2 160.989 1221.12 162.237 1222.86 164.097C1230.49 172.256 1238.7 179.804 1246.86 187.436C1246.91 187.492 1247.03 187.436 1247.14 187.436"
                        stroke="white" style="visibility: visible; stroke-dasharray: 58.7536; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1134.9 73.2651C1137.89 72.2382 1140.36 72.488 1142.94 74.2086C1141.03 75.5407 1138.59 75.3742 1137.14 74.7359C1133.51 73.1263 1131.12 74.5694 1128.68 76.7895C1128.35 77.0948 1127.96 77.3446 1127.6 77.5943"
                        stroke="white" style="visibility: visible; stroke-dasharray: 25.2064; stroke-dashoffset: 0;"></path>
                    <path d="M1219.53 161.988C1217.43 168.204 1212.79 172.089 1207.36 175.253" stroke="white"
                        style="visibility: visible; stroke-dasharray: 18.4256; stroke-dashoffset: 0;"></path>
                    <path d="M1159.75 111.923C1161.94 117.085 1164.88 121.831 1167.85 126.521" stroke="white"
                        style="visibility: visible; stroke-dasharray: 16.7143; stroke-dashoffset: 0;"></path>
                    <path d="M1226.55 227.981C1227.55 231.395 1228.52 234.836 1229.52 238.25" stroke="white"
                        style="visibility: visible; stroke-dasharray: 10.6899; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1171.13 116.003C1169.85 118.084 1169.85 120.526 1169.32 122.802C1169.05 123.968 1168.63 125.106 1168.41 126.299"
                        stroke="white" style="visibility: visible; stroke-dasharray: 10.6948; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1190.05 153.606C1187.88 154.911 1185.36 154.911 1183 155.466C1182.53 155.577 1182.22 155.716 1181.92 156.049"
                        stroke="white" style="visibility: visible; stroke-dasharray: 8.58419; stroke-dashoffset: 0;"></path>
                    <path d="M1096.22 60.5269C1094.95 65.6054 1094.78 70.6008 1097.31 75.4018" stroke="white"
                        style="visibility: visible; stroke-dasharray: 15.2761; stroke-dashoffset: 0;"></path>
                    <path
                        d="M1150.87 131.405C1150.87 131.405 1167.96 123.551 1175.2 123.551C1182.47 123.551 1212.77 123.024 1216.54 127.464C1220.31 131.904 1210.02 147.307 1201.67 144.92C1202.95 143.838 1204.28 143.838 1205.72 144.643C1218.45 151.719 1230.33 159.989 1239.42 171.506C1243.06 176.141 1246.8 181.053 1247.41 187.38C1247.47 188.046 1248.11 188.657 1248.47 189.267"
                        stroke="white" style="visibility: visible; stroke-dasharray: 162.225; stroke-dashoffset: 0;"></path>
                </g>
                <g transform="translate(1379,569)">
                    <path d="M1 1C38.5 34.6667 113.9 121.9 115.5 201.5" stroke="white"
                        style="visibility: visible; stroke-dasharray: 236.3; stroke-dashoffset: 0;"></path>
                </g>
            </svg></div>
  <div class="background">
    <div class="buttons">
      <a href="{{ section.settings.button_url }}" class="button-{{ section.id }}" type="button" tabindex="0">
        {{ section.settings.button_text }}
      </a>
    </div>
  </div>
</article>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    if (window.gsap && window.ScrollTrigger) {
      gsap.registerPlugin(ScrollTrigger);
      
      // Animate high-opacity heading width from 0 to 100% when header h1 enters viewport
      gsap.to(".second-section-{{ section.id }} header .h1-high-opacity", {
        width: "100%",
        duration: 4,
        ease: "power2.out",
        scrollTrigger: {
          trigger: ".second-section-{{ section.id }} header h1",
          start: "top 80%",
          once: true
        }
      });
      
      // Optional: Add animation for the button
      gsap.from(".second-section-{{ section.id }} .button-{{ section.id }}", {
        y: 50,
        opacity: 0,
        duration: 1,
        delay: 0.5,
        ease: "power2.out",
        scrollTrigger: {
          trigger: ".second-section-{{ section.id }} .buttons",
          start: "top 85%",
          once: true
        }
      });
    }
  });
</script>

