<!-- sections/instagram-grid.liquid -->
<style>
  .tenth-section-{{ section.id }} {
    background-color: {{ section.settings.background_color | default: '#000000' }};
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
  }

  .tenth-section-{{ section.id }} .section-header h2 {
    color: {{ section.settings.text_color | default: '#FFFFFF' }};
    font-size: 90px;
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
  }

  .tenth-section-{{ section.id }} .background {
    width: 100%;
  }

  .tenth-section-{{ section.id }} .background svg {
    width: 100%;
  }

  .tenth-section-{{ section.id }} .background svg path {
    stroke: {{ section.settings.svg_stroke_color | default: '#FFFFFF' }};
  }

  .tenth-section-{{ section.id }} .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .tenth-section-{{ section.id }} .content a {
    padding: 18px 40px;
    border: 1px solid {{ section.settings.button_border_color }};
    border-radius: 100px;
    text-decoration: none;
    color: {{ section.settings.button_text_color }};
    transition: all 0.3s ease;
    font-size: 16px;
  }

  .tenth-section-{{ section.id }} .content a:hover {
    background-color: {{ section.settings.button_border_color }};
    color: {{ section.settings.button_hover_text_color }};
  }

  @media (max-width: 600px) {
    .tenth-section-{{ section.id }} .section-header h2 {
      font-size: 40px;
    }
  }

  @media (max-width: 850px) {
    .tenth-section-{{ section.id }} .content a {
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px 30px;
    }
  }
.bottom-cta {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}
</style>

<article class="tenth-section tenth-section-{{ section.id }} bottom-cta">
  <header class="section-header">
    <h2 style="opacity: 1;">
      {{ section.settings.arabic_title }}
    </h2>
    <p class="sub-info">{{ section.settings.sub_info_text }}</p>
  </header>

  <div class="background bottom-svg">
    {% if section.settings.svg_code != blank %}
      {{ section.settings.svg_code }}
    {% endif %}
  </div>

  <div class="content" style="opacity: 1; transform: none;">
    <a href="{{ section.settings.button_link }}" color="white" tabindex="0" 
       style="border-color: {{ section.settings.button_border_color }}; color: {{ section.settings.button_text_color }};">
      {{ section.settings.button_text }}
    </a>
    <div class="forms"></div>
  </div>
</article>

{% schema %}
{
  "name": "Custom CTA Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Background & Text Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "svg_stroke_color",
      "label": "SVG Stroke Color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "arabic_title",
      "label": "Arabic Title",
      "default": "عندنا بعد أكثر"
    },
    {
      "type": "text",
      "id": "sub_info_text",
      "label": "Sub Info Text",
      "default": "Your default text here"
    },
    {
      "type": "textarea",
      "id": "svg_code",
      "label": "SVG Code",
      "info": "Paste your SVG code here"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "عرض جميع المنتجات"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Button Colors"
    },
    {
      "type": "color",
      "id": "button_border_color",
      "label": "Button Border Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "button_hover_text_color",
      "label": "Button Hover Text Color",
      "default": "#000000"
    },
    {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Padding Top",
        "default": 50
    },
    {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 50
    }
  ],
  "presets": [
    {
      "name": "Custom CTA Section",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}